[2019-12-11 23:55] JoshuaMulliken opened #1 "Slow to update"
When I turn the bulb off within home assistant it is slow to change its understanding of the state to off.

[2019-12-12 00:06] JoshuaMulliken commented on #1
Fixed in commit: ea60a5138eabea1f904db80f6c05e24bf34d0628

[2019-12-12 00:06] #1 closed

[2019-12-13 21:21] whwar9739 opened #2 "Status update"
Not sure if this is even possible, but is there a way for the api to get the status of the bulb and update the component in Home Assistant? For example, if someone turns a bulb on or off using the Wyze app, could the Home Assistant component be updated to reflect that change?

[2019-12-14 17:20] JoshuaMulliken commented on #2
It will update. I am not sure at what rate HA runs the .update() function but it will change the status eventually.

[2019-12-14 17:21] JoshuaMulliken commented on #2
@whwar9739 I believe it may be about 30 seconds

[2019-12-15 00:13] JoshuaMulliken opened #3 "Access tokens stop working"
Sometimes an access token will cease to work. I can detect this by no 'device_list' being returned.

[2019-12-16 16:10] basesnow opened #4 "No method to automatically update the integration"
This is my first time adding a component that doesn't show up in integrations or a custom community store like HACS. How will I know there is an update available, how do I update?

[2019-12-16 20:37] #2 closed

[2019-12-16 23:54] JoshuaMulliken commented on #4
@basesnow I do not have a method for this currently. I will look into adding this to HACS or make it possible to include it in HACS

[2019-12-17 00:09] JoshuaMulliken commented on #4
@basesnow I was able to successfully add this to HACS. I have added instructions to the [README.md](https://github.com/JoshuaMulliken/ha-wyzebulb/blob/master/README.md)

[2019-12-17 00:09] #4 closed

[2019-12-17 01:39] basesnow commented on #4
Awesome, thanks!

[2019-12-17 04:22] basesnow opened #9 "Brightness set to 100% when you adjust the color temperature"
when I go to change the temperature in the info card, the brightness gets set to 100% every time.

[2019-12-17 05:33] JoshuaMulliken commented on #9
I think I have fixed this in the latest release: https://github.com/JoshuaMulliken/ha-wyzebulb/releases/tag/v0.2.1

Please update and let me know if it is fixed for you.

[2019-12-17 14:59] josephyancey opened #10 "Wyze Switch support"
This doesn't seem to support the wyze switches. Since the API appears to be almost identical can we get switch support as well? If you aren't interested in adding it, I can tinker with it and see if I can make it work. Would you be willing to accept a PR for switches?

[2019-12-17 17:11] basesnow commented on #9
still seeing the issue. Noticed that you added debug logging in the latest release. Not sure how to exactly what I would replace "homeassistant.components.homekit" in the code below, but if you can tell me, I can set it up and run it.

`logger:
  default: warning
  logs:
    homeassistant.components.homekit: debug
    pyhap: debug`

[2019-12-17 17:23] JoshuaMulliken commented on #10
Yes, that would be great! I don't have any switches right now so I haven't been able to explore that yet

[2019-12-17 17:25] JoshuaMulliken commented on #9
My logger statement looks like this:
[code]

[2019-12-17 17:25] JoshuaMulliken commented on #9
Are you installing from hacs and have you rebooted? @basesnow

[2019-12-17 17:35] JoshuaMulliken commented on #9
@basesnow if you can try [this release](https://github.com/JoshuaMulliken/ha-wyzebulb/releases/tag/v0.2.2) for me that would be great! Also if you could provide me with a description of what mechanism you are using to set the color temperature, for example with a script, automation, or the lovelace ui.

[2019-12-18 03:05] josephyancey commented on #10
Please see this PR https://github.com/JoshuaMulliken/ha-wyzebulb/pull/11

I didn't want to make any substantial changes to the way you integrated with HA so as it is, if somebody has both a bulb and a switch/plug, they will have to put their login info twice and the component will hit the Wyze API twice. It only happens when the component is setup so it isn't the end of the world.

[2019-12-18 15:35] JoshuaMulliken commented on #9
It appears to be fixed to me. I will be closing this issue now if you continue to experience the problem then please reach out again @basesnow

[2019-12-18 15:35] #9 closed

[2019-12-18 16:27] JoshuaMulliken commented on #10
This has been merged and published in [release v0.3.0](https://github.com/JoshuaMulliken/ha-wyzebulb/releases/tag/v0.3.0)!

[2019-12-18 16:27] #10 closed

[2019-12-18 16:34] JoshuaMulliken opened #12 "Use Home Assistant Load Platform logic"
This would allow for only including the username and password once.

[2019-12-18 23:21] JoshuaMulliken commented on #3
[v0.3.1-beta](https://github.com/JoshuaMulliken/ha-wyzeapi/releases/tag/v0.3.1-beta) has been created to test and see if this issue is resolved.

[2019-12-18 23:40] JoshuaMulliken commented on #3
If anyone experiences this issue please install the latest [v0.3.1-beta.3](https://github.com/JoshuaMulliken/ha-wyzeapi/releases/tag/v0.3.1-beta.3) and let me know if you have any issues.

[2019-12-19 01:52] basesnow opened #13 "Brightness set to 100% when you adjust the color temperature"
Hi, still seeing the problem on v0.3.1. I installed and updated through HACS, then restarted the server (not sure if that matters compared to a reboot). Ran the logger and didn't get any warnings for Wyzeapi.

I am adjusting the lights in Lovelace using both the standard entity card and the [light entry row](https://github.com/custom-cards/light-entity-row) plugin.

It also has the same issue when

[2019-12-19 03:29] JoshuaMulliken commented on #13
Can you add

[code]

To your `configuration.yaml` restart and then send me your `home-assistant.log` file from your `/config` folder?

[2019-12-19 13:43] basesnow commented on #13
Will do. Might take some time though. Home assistant completely crashed and I can’t do a clean install right now. I think it has something to do with the 103.1 release of hass.io. Read that version is preventing the front end from displaying. Hopefully 103.2 will be available for me soon.

[2019-12-19 14:28] JoshuaMulliken commented on #13
Ok sounds good. When you rebuild, make sure you are using:
[code]
In your `configuration.yaml`

[2019-12-20 03:01] basesnow commented on #13
followed all your steps, running v0.3.1-beta4. Now I am getting Access Token Errors. Put my log file in the thread for issue #3

[2019-12-20 03:03] basesnow commented on #3
running v0.3.1-beta4. here is my log file.
[home-assistant.log](https://github.com/JoshuaMulliken/ha-wyzeapi/files/3986504/home-assistant.log)

[2019-12-20 20:12] markrickert commented on #3
I've been running the beta and haven't seen any issues to speak of.

[2019-12-20 20:46] JoshuaMulliken commented on #3
From my testing, this issue is now fixed. I have promoted beta.4 to stable.

[2019-12-20 20:47] JoshuaMulliken commented on #13
@basesnow I have looked at your log it appears that there are several issues you are suffering from. Please do a clean install from HACS and try again. From my testing, this issue is resolved.

[2019-12-20 20:47] #13 closed

[2019-12-20 21:18] JoshuaMulliken commented on #3
I have discovered a thread safety issue. v0.3.0 works and if you come across AccessTokenErrors please delete wyzeconfig.ini and restart.

[2019-12-21 04:20] basesnow commented on #3
Thanks, this worked for me.

[2019-12-21 04:22] basesnow commented on #13
I believe that I was continuing to see this issue because I originally did a manual install of this innogration. Then I connected it in HACS. When I went to delete the wyzeconfig.ini file to fix the access token issue, I saw that I had multiple Wyzeapi folders. Deleting all of them and doing clean install from HACS fixed everything. Thanks!

[2019-12-22 05:56] aeckard87 commented on #3
also updated to v0.3.1-beta4 and confirmed working, thanks!

[2019-12-22 18:06] DaveHenning commented on #3
I'm still having issues. On beta.5.

FWIW I had the pre-HACS version installed when it stopped working. I installed the HACS version (non beta) and removed the old one with no luck, then updated to b5.

Relevant log:

[code]

[2019-12-22 23:09] viptampa opened #14 "[Feature Request] Add the ability to connect with 2FA enabled"
API doesn't connect / login with 2FA enabled

It has been my experience that with 2FA enabled, the api doesn't seem to be able to login.

[2019-12-23 01:44] kcrexchan commented on #3
I have the same problem and I install `master` through HACS and the problem goes away. @DaveHenning, can you try and confirm if that works for you?

[2019-12-23 02:17] JoshuaMulliken commented on #3
Hello everyone! Thank you for testing out the betas! I am reading these however with the holidays I have not had a chance to sit down and work on this. I will be looking at putting in some work after Christmas.

[2019-12-23 02:18] JoshuaMulliken commented on #14
Yea if you would like to use the api as it currently stands please disable 2FA

[2019-12-23 02:29] DaveHenning commented on #3
This fixed it for me. Thanks!

[2019-12-23 03:59] basesnow commented on #3
You mentioned that you originally installed before HACS. When you removed it, did you delete all the associated folders in the file system? I forgot to do that, I just reinstalled with the HACS version, assuming it overrode the original. Once I deleted the other folders/files it fixed all my issues.

[2019-12-23 13:16] DaveHenning commented on #3
At first, no. Once the HACS version didn't work that's when I went to beta5. Once that also didn't work I removed the old directory. Still didn't work but the switch to `master` did. There were reboots between all steps. I'm not sure if the `master` version fixed it or just the fact that it forced another reboot did, but it's working now.

[2019-12-23 17:33] markrickert commented on #3
Thanks for this awesome library, @JoshuaMulliken! Have a great Christmas!

[2019-12-24 01:12] JoshuaMulliken commented on #3
Hello everyone! I have made significant changes to how requests to the API are handled. This should improve reliability and I believe that it should be able to recover from AccessToken errors.

Please test beta.6 and let me know if you have any issues!

[2019-12-24 03:37] basesnow commented on #3
The betas don't seem to show up in the available version drop down in HACS anymore. Not sure if it is something I did??

[2019-12-24 03:55] JoshuaMulliken commented on #3
I marked them as prereleases. Select the three dot menu item on the integration. And click show beta

[2019-12-26 22:51] kwdavidson opened #15 "HACS shows wrong latest version"
HACS continues to show `0.3.1-beta.4` as what I have installed, but `v0.3.0` as the latest available. I'd like to be able to upgrade to `v0.3.1`.

[2019-12-27 01:25] JoshuaMulliken commented on #15
v0.3.1 should show up as expected now

[2019-12-27 01:25] #15 closed

[2019-12-27 01:26] JoshuaMulliken commented on #3
I believe that this is now fixed in v0.3.1!

[2019-12-27 01:26] #3 closed

[2019-12-27 03:42] mgjunk opened #16 "Entity Not Available - Switch"
Hi there.  Thanks for doing the hard work getting the Wyze products into HA.  I was able to get 2 Wyze switches working last week no problem.  However, I needed to restart my system today for another reason and now I'm getting the dreaded "Entity Not Available" warning for the Wyze switches.  I just upgraded to the latest version and it did not fix the issue.  I also uninstalled and resinstalled t

[2019-12-27 03:46] markrickert commented on #16
I just got an email from Wyze saying their servers were down today. Possibly related?

[2019-12-27 04:17] JoshuaMulliken commented on #16
Can you show me your configuration.yaml? Are you installing from hacs?

[2019-12-27 04:18] JoshuaMulliken commented on #16
@Markrickert It could be. I had to restart home assistant today to have it work again after they invalidated the tokens.

[2019-12-27 05:30] mgjunk commented on #16
I did install from HACS.  My configuration is pretty simple (copied right from your instructions):
switch:
  - platform: wyzeapi
    username: <myemail>
    password: <mypw>

I also got the Wyze email.  Let's give it a day or so - maybe they are doing something on their end that is causing this.

[2019-12-28 16:32] kprestel opened #17 "Invalid config when following example in README"
When following the example in the `README` I get an error for both the switch and the lights.

Error log:

required key not provided @ data['username']. Got None. (See /config/configuration.yaml, line 96). Please check the docs at https://home-assistant.io/integrations/wyzeapi/

Same thing for lights:

required key not provided @ data['username']. Got None. (See /config/configuration.yaml, line 10

[2019-12-28 22:53] JoshuaMulliken commented on #17
Hello you are not using the correct syntax please use this
[code]

[2019-12-28 23:14] JoshuaMulliken commented on #16
@mgjunk is it working now?

[2019-12-29 15:59] kprestel commented on #17
Whoops... My fault.

Sorry for wasting your time! Thanks!

[2019-12-29 15:59] #17 closed

[2019-12-29 16:02] kprestel opened #18 "Switch: AttributeError: 'WyzeApi' attribute issues"
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 281, in async_update_ha_state
    await self.async_device_update()
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 461, in async_device_update
    await self.hass.async_add_executor_job(self.update)
  File "/usr/local/lib/python3.7/concurrent/futures/thread.py", line 57, i

[2019-12-29 16:56] mgjunk commented on #16
Unfortunately not.

-----
Background (in case it helps debug what happened).  Scroll down for the Error Log
-----

I have 2 Wyze plugs and a Wyze cam.  (Side note: The camera has always worked fine using rtsp and continues to work so no issues there.)

When you first released the plugin, I followed the directions and everything worked right away.  The only confusing part was that I needed to have

[2019-12-29 18:24] markrickert commented on #16
@mgjunk I'm getting this same error message this morning after upgrading from `3.0.1beta-6` to `3.0.1`.

I switched to the `master` branch and it seems to have resolved my issue and i can control my lights again.

It's happening on versions that i had confirmed working in the past so i'm wondering if maybe a HACS update or Home Assistant upgrade broke something?

[2019-12-30 15:30] JoshuaMulliken commented on #16
@markrickert @mgjunk the duplicate section error should not happen on 0.3.1 it no longer includes the config parser. Sometimes you need to update in HACS twice and restart twice for it to actually install.

[2019-12-30 15:44] basesnow opened #20 "access token error in v 0.3.1"
Hi, still having access token errors in the latest public version. I did a clean install of the integration in HACS. every once and a while when I restart my server, I get the error. here is the debug. Deleting the wyzeconfig.ini and restarting does reconnect me.

also, noticed that HACS says I am on V0.3.1, but debug shows V0.3.1-beta4. Not sure why??

[code]

[2019-12-30 21:25] aeckard87 commented on #18
Confirmed issue is happening for me as well, I attempted to update `wyzeapi_switch.py` but inadvertently crashed my hassio in the process. If I get this working I'll submit a PR to you @JoshuaMulliken :) thanks for this awesome work!!

[2019-12-30 22:39] mgjunk commented on #16
@JoshuaMulliken reinstalled multiple times, rebooted (and even shutdown) multiple times and same problem.  Then I did what @markrickert suggested and switched to the 'master' branch and everything worked.  Not sure what the issue is between branches

[2019-12-30 23:25] kennedyshane opened #21 "Error while setting up platform wyzeapi"
Installed via HACS, I did have this working via manual install and then switched to HACS version for ease of updating and now I'm receiving the following error.

Log Details (ERROR)
Mon Dec 30 2019 17:10:56 GMT-0600 (Central Standard Time)
Error while setting up platform wyzeapi
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 150, i

[2019-12-31 02:10] aeckard87 commented on #20
You may want to checkout this recent issue https://github.com/JoshuaMulliken/ha-wyzeapi/issues/3

For me upgrading to beta5 did the trick

[2019-12-31 09:02] Quantum-cross commented on #21
what does your configuration.yaml look like? be sure to blank out any credentials

[2019-12-31 14:09] JoshuaMulliken commented on #21
@kennedyshane you must have an old version installed because the latest version doesn’t include configparser

[2019-12-31 14:21] kennedyshane commented on #21
@JoshuaMulliken I am running v0.3.1 (see screenshot)

@Quantum-cross Below is what my "configuration.yaml" file looks like.

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate

# Front End

[2019-12-31 14:50] kburnes commented on #21
I also have this error similar to @kennyshane:

2019-12-31 09:30:31 ERROR (MainThread) [homeassistant.components.light] Error while setting up platform wyzeapi
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 150, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/pyt

[2019-12-31 14:55] JoshuaMulliken commented on #18
@aeckard87 please checkout the master branch! I believe I found the bug

[2019-12-31 14:59] JoshuaMulliken commented on #16
@mgjunk 0.3.1 is not substantially different from master. There must have been an issue with the update procedure. I am glad that this is resolved for you!

[2019-12-31 14:59] #16 closed

[2019-12-31 15:00] #20 closed

[2019-12-31 15:01] kprestel commented on #18
@JoshuaMulliken that code change looks like it will fix it. Can you please make a release so users using HACS can get it?

[2019-12-31 15:04] kprestel commented on #18
This fix creates another error:

2019-12-31 15:03:19 ERROR (MainThread) [homeassistant.helpers.entity] Update for switch.plug_1 fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 281, in async_update_ha_state
    await self.async_device_update()
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 461, in async_device_upd

[2019-12-31 15:08] JoshuaMulliken commented on #18
I'll open it. It should be a simple fix.

[2019-12-31 15:12] JoshuaMulliken commented on #18
Check out the master again and let me know @kprestel

[2019-12-31 15:15] JoshuaMulliken commented on #18
I've tagged this as v0.3.2-beta.1

[2019-12-31 15:17] JoshuaMulliken commented on #21
@kennedyshane @kburnes please try v0.3.2-beta.1

[2019-12-31 15:19] kprestel commented on #18
logs look clean! Thanks for the quick fixes and the integration. I look forward to using it more.

[2019-12-31 15:21] kennedyshane commented on #21
@JoshuaMulliken Can confirm, upgraded to v0.3.2-beta.1 and it's working like a charm!  Thank you very much for your time, assistance and this project :)

[2019-12-31 15:24] #18 closed

[2019-12-31 15:25] #21 closed

[2019-12-31 15:25] kburnes commented on #21
What @kennedyshane said.  Thanks!

[2019-12-31 18:35] aeckard87 commented on #18
Just updated to  v0.3.2-beta.1, looks good thanks so much @JoshuaMulliken :)

[2020-01-01 15:09] war1000 opened #22 "Wyze Bulb/Switch Status does not change when there is no power to the bulb/switch"
This is great work! However, I noticed that when a bulb is offline due to no power or other reason, in HA the bulb shows up as On instead of unavailable. Is there any solution to this? Thanks!

[2020-01-01 21:26] markrickert opened #23 "[Feature Request] Additional code clarity and comments"
It appears that there's a unique identifier hardcoded into the `WyzeApi` class that's being included in every payload that this code sends from every instance. Shouldn't something called `device_id` be something the user should configure?

https://github.com/JoshuaMulliken/ha-wyzeapi/blob/master/custom_components/wyzeapi/wyzeapi/wyzeapi.py#L17

<img width="786" alt="Screen Shot 2020-01-01 at 2 16

[2020-01-02 01:36] JoshuaMulliken commented on #22
I am not sure. I don't have any switches. I can do some research!

[2020-01-02 01:38] JoshuaMulliken commented on #23
The device_id is not from my phone but I found some guids from another git repo that worked. It doesn't appear like it has to be from a specific phone for it to work. But it does need to be one that it is already registered. Basically this is a magic number. The others are also magic and I don't know what they do.

[2020-01-02 03:44] #12 closed

[2020-01-02 16:56] kburnes opened #26 "Wyzeapi configuration changed in v0.4.0"
Joshua - The beta fix yesterday worked - but today the v0.4.0 fails with:

Log Details (ERROR)
Thu Jan 02 2020 11:51:05 GMT-0500 (Eastern Standard Time)
Invalid config for [light.wyzeapi]: [username] is an invalid option for [light.wyzeapi]. Check: light.wyzeapi->username. (See /config/light.yaml, line 0). Please check the docs at https://home-assistant.io/integrations/wyzeapi/

also the docs link

[2020-01-02 17:17] aeckard87 commented on #22
I haven't setup my light-bulbs yet - though I have several switches, I'd be happy to test them out to see if it yields similar results.

[2020-01-02 17:26] JoshuaMulliken commented on #26
Please check the read me. V0.4.0 is a **breaking change** please follow the information here: https://github.com/JoshuaMulliken/ha-wyzeapi

[2020-01-02 17:52] aeckard87 commented on #22
Confirmed switches are seeing the same issue and also setup one of my wyze bulbs and compared the "unavailable" status against my lifx bulb. It took lifx about 2 minutes to report unavailable. I have another switch brand (wemo) somewhere... But regardless I'll search around api's.

[2020-01-02 19:38] aeckard87 commented on #22
Dug a little into the Wyze API `/app/v2/home_page/get_object_list` endpoint - it has a different param for determining if a device is offline:

`conn_state` - which nicely shows 0 (unavailable) for my test switch and lightbulb.

vs `switch_state` - which maintains last state if conn_state is 0 <- this would explain why we're seeing a "current state on" if the device loses connection while it was o

[2020-01-02 19:47] kburnes commented on #26
I'm embarrassed.  I didn't read the install page closely enough.  It again
works perfectly.  Thanks for all your hard work. I wish I knew python well
enough to be able to help.

On Thu, Jan 2, 2020 at 12:26 PM Joshua Mulliken <notifications@github.com>
wrote:

[2020-01-02 21:49] markrickert commented on #26
I figured this would happen a time or two... hence my gigantic text on the change :P https://github.com/JoshuaMulliken/ha-wyzeapi/pull/25

I don't know python either, but it seems simple enough I was able to help with this change even though I zero experience with python :P

[2020-01-03 01:12] markrickert commented on #22
I can confirm this behavior with the Wyze official app. It took at least 2 minutes after unplugging a wyze plug (or manually turning off a light at the switch) for the official app to mark it as "offline". I had to do a pull-to-refresh in the app to get it to show as offline.

We can probably set a polling interval to get the device status at 2 minutes and not run afoul of Wyze's server admins.

I

[2020-01-03 03:48] aeckard87 commented on #22
Yea confirmed this as well @markrickert - was working on setting up grabbing connection state for lights and I was never getting 0 (unavailable), decided to check my wyze app and what do ya know... it is also showing still online despite having no power.

Switches do update in the wyze app, you have to be patient though. Roughly 5-10 min <- this is avail in the `/v2/app/device/get_properties_list`

[2020-01-03 04:14] aeckard87 commented on #23
@JoshuaMulliken I think I know where you grabbed it from, before I found your awesome work, I also stumbled on someones work to integrate with wyze cameras but the endpoints are pre /v2/ - the only thing it provided from their docs, [here](https://github.com/nblavoie/wyzecam-api)

is that **ts** stands for current time in milliseconds.

[2020-01-03 21:43] JoshuaMulliken commented on #23
@aeckard87 Thank you for the information! Maybe we can start filling in some of these parameters with real data lol. Maybe a request builder would be a useful functionality for readability.

[2020-01-04 16:30] mmmbobby opened #27 "Lights not appearing in Entities"
Hi there.

I have 4 Wyze bulbs in my home that have been setup through the Wyze app for a while with no issues. I've followed the instructions for this integration, reinstalled multiple times, removed and re-added my lights in the Wyze app, etc. I'm not getting any errors in HA for wyzeapi.

Issue is, my lights just don't appear in the entities list.

Any thoughts?

[2020-01-04 21:57] JoshuaMulliken commented on #27
Are they in a group? That’s the only thing I can think of.

[2020-01-04 22:31] mmmbobby commented on #27
They aren't in a group in the Wyze app. I do have them connected to my Alexa app, but I'm not sure why that would make a difference. What information do you need? I'd love to get these working in my HA environment, so happy to provide whatever you need :)

[2020-01-04 23:32] JoshuaMulliken commented on #27
Can you show me your `configuration.yaml`?

[2020-01-04 23:50] mmmbobby commented on #27
![image](https://user-images.githubusercontent.com/23425506/71772975-a01afd80-2f1a-11ea-9d9b-d2e29de394b7.png)

[2020-01-06 14:45] JoshuaMulliken commented on #27
Sorry it's been a while since I replied. Can you show me your `home-assistant.log`?

[2020-01-06 18:50] mmmbobby commented on #27
After a restart with the same config, this is my log file

2020-01-06 12:26:02 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you do experience issues with Home Assistant.
2020-01-06 12:26:02 WARNING (MainThread) [homeassistant.loader] You ar

[2020-01-06 18:53] JoshuaMulliken commented on #27
Please enable the debug information. Instructions can be found [here](https://github.com/JoshuaMulliken/ha-wyzeapi/blob/master/README.md)

[2020-01-06 18:58] mmmbobby commented on #27
Here you go

2020-01-06 12:57:40 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for wyzeapi which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you do experience issues with Home Assistant.
2020-01-06 12:57:40 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for hacs which

[2020-01-08 01:57] mmmbobby commented on #27
Anything else you need from me?

[2020-01-08 03:55] JoshuaMulliken commented on #27
I don’t see anything that could be going wrong @mmmbobby. I have no idea why they aren’t showing up if they are in your wyze account.

[2020-01-08 16:12] mmmbobby commented on #27
Maybe something is wrong, but at least I can control my lights. I just noticed this morning while creating an automation that I can see the entities in the list when creating automations, adding to dashboards, etc. but can't see them in the Configuration>Entities list.

Seems weird to me, but at least I know they're there and can control them.

Thx

[2020-01-08 16:13] JoshuaMulliken commented on #27
Oh great! So they are being properly added to HA. So the issue must be on the HA side I guess.

[2020-01-08 16:13] #27 closed

[2020-01-08 16:34] JoshuaMulliken commented on #22
@markrickert @aeckard87 from what I understand home assistant will call the update function on some schedule. I am not sure what that timing is but we can definitely add a check to the update function that will set it to unavailable.

[2020-01-08 16:37] JoshuaMulliken commented on #22
@all please see this commit for this feature in the lights: https://github.com/JoshuaMulliken/ha-wyzeapi/commit/1f4ac77d8c4bfef4c1643df8d3fcc3d956d366e9

[2020-01-08 16:48] war1000 commented on #22
@JoshuaMulliken , will this update show up in HACS? or is it a manual update? Thanks!

[2020-01-08 17:48] JoshuaMulliken commented on #22
@war1000 it is in the master branch so you can switch to that on HACS but for right now it is not yet in a release. I want to get the same implemented for switches if this works. Watch for a beta!

[2020-01-09 01:17] JoshuaMulliken commented on #22
@all please try [v0.4.1-beta.1](https://github.com/JoshuaMulliken/ha-wyzeapi/releases/tag/v0.4.1-beta.1) and let me know if it works for you!

[2020-01-09 04:33] markrickert commented on #22
Damn, i'd love to help test but i'm out of town for a week. 1f4ac77 looks good though! Can't wait to try it out!

[2020-01-13 17:59] fortwally opened #28 "Wyze plugs"
Could this be changed to control the wyze plugs also.

[2020-01-13 22:22] fortwally commented on #28
I added a debug statment to the __init__.py file and restated HA. Here is the data I got:
2020-01-13 14:13:20 DEBUG (SyncWorker_15) [custom_components.wyzeapi] [{'mac': '2CAA8E76EA86', 'first_activation_ts': 1573843151000, 'first_binding_ts': 1573843151000, 'enr': 'K+mCnupF6qCw9W7V', 'nickname': 'Living room', 'timezone_name': 'America/Los_Angeles', 'product_model': 'WLPP1', 'product_model_logo_ur

[2020-01-14 19:10] fortwally commented on #28
After more looking I found that the switch and plug both appear the same to the interface.
Only change needed is to add the it works with the plugs also.

[2020-01-14 19:10] #28 closed

[2020-01-16 20:14] markrickert opened #29 "[Feature Request] Add Wyze Lock Support"
I just got home from a trip and had a Wyze Lock waiting for me. Set it all up and realized that it's controllable just like a switch (`on/off` === `locked/unlocked`) and has an additional `boolean` property indicating if the door is open or not.

I've already started working on the integration and I have a barely working version that recognized my lock and puts it into home assistant. I'm also sho

[2020-01-16 21:48] JoshuaMulliken commented on #29
@markrickert when I was doing the initial development I basically created a run.py file that would call into my methods in order to test that they are returning what I want from them. That way I didn't have to keep throwing it into HA. I also didn't have the python cache problem because I am running HA in a docker container.

[2020-01-16 21:49] JoshuaMulliken commented on #29
@markrickert Your contributions so far have been amazing! I can't wait to see your lock code! Also, remember that you can include your own fork in HACS in the same way as mine and update and test your integration from there.

[2020-01-16 21:50] JoshuaMulliken commented on #22
From my testing, this seems to work well so I will be making this into a full-fledged release

[2020-01-16 21:53] JoshuaMulliken commented on #22
I will be closing this issue as it is fixed in v0.4.1

[2020-01-16 21:53] #22 closed

[2020-01-17 04:19] jamman9000 opened #30 "[BUG] Dimming level missing from emulated_hue exposed lights in Alexa"
**Describe the bug**
In HA, it’s possible to see and set dimming level in Lovelace but when exposing the light via emulated hue to Alexa the dimming ability is missing. The selection is no longer in the Alexa device page (new devices after installing this integration) whereas it was there when I exposed custom light entities that used IFTTT to talk to Wyze Bulbs.

**To Reproduce**
Steps to reprodu

[2020-01-17 06:12] JoshuaMulliken commented on #30
@jamman9000 I cannot currently replicate this as I am not using the emulated hue option.

Please provide your configuration for the emulated_hue so I can attempt to replicate the issue.

[2020-01-17 06:35] markrickert commented on #29
It appears that you can't just send the same data to a lock as a switch. Bummer. I was hoping the lock would be the same commands to the API as a switch. It seems I may have to do some MITM SSL traffic sniffing on my device 😞

[2020-01-17 16:37] JoshuaMulliken commented on #29
@markrickert Check out https://mitmproxy.org it might help!

[2020-01-17 19:12] jamman9000 commented on #30
Updated with emulated_hue yaml

[2020-01-17 19:21] JoshuaMulliken commented on #30
Hmm it looks like it requires port 80 and my HA setup is in a docker container and port 80 is occupied currently so I won't be able to work on this until I can adjust my setup.

@markrickert @Quantum-cross do either of you use emulated_hue?

[2020-01-17 19:42] Quantum-cross commented on #30
I do not

[2020-01-17 19:46] jamman9000 opened #31 "Delay in Brightness and Temperature value in HA"
**Describe the bug**
Upon turning on the light entity, it takes between 17-25 seconds for the brightness and color_temp attributes to display and populate with their accurate values. While off, the light entity loses the brightness and color_temp attributes (disappear from states page) which might be due to how the component was written, maybe that can be reconsidered. In the UI the color_temp sli

[2020-02-07 20:32] rugene76 opened #32 "Install not working"
I'm new to HA.
I've installed the latest version of HA (hassio). In general everything seems to work regarding the devices I have that are officially supported, eg., wemo
However, when I attempt to install wysezpi, the instructions don't match the latest UI in regards to the repository.
I've attempted to do a manual install which I think is working - at least I'm seeing my wyze lights/switches..On

[2020-02-07 20:42] rugene76 commented on #32
here's the log I found:
Error during setup of component wyzeapi

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 174, in _async_setup_component
    component.setup, hass, processed_config  # type: ignore
  File "/usr/local/lib/python3.7/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/config/cust

[2020-02-09 04:17] yfaber opened #33 "Switches don't show up on scenes"
I have a couple of switches around my house automating some led strips, the switch works already and i can turn on/off trough HASSio... the only thing missing now is adding the switches to a scene, when I try to add them they don't show up there. Is there anything I can do to fix this?

[2020-02-11 01:51] yfaber commented on #33
@JoshuaMulliken any ideas on how to fix this?

[2020-02-11 14:56] JoshuaMulliken commented on #32
Do you have Home Assistant Community Store (HACS) installed?

[2020-02-11 14:57] JoshuaMulliken commented on #33
Are you adding the entity into the scene?

[2020-02-11 15:32] rugene76 commented on #32
Yes, I have HACS installed. I'm not seeing anything that would help me there. Is there something?
It seems what I need to do is create a fake "dimmable light" as an entity and then send event triggers to it to kick off the automation.  That way I could set the position of a blind using the dimmer interface and resultant parameter data. but I don't see how to do create a fake entity.

[2020-02-11 15:33] rugene76 commented on #32
Yes I do and I have finally got the sensors to work - not sure why but they work. Yea!

[2020-02-11 15:35] JoshuaMulliken commented on #32
Great!

[2020-02-11 15:35] #32 closed

[2020-02-11 16:09] yfaber commented on #33
Ow hey! The plugs don't show up on the entities tab, because of that I think they don't show up on the scenes tab.

I have the plugs working fine using your Custom Component.

[2020-02-12 05:07] cjackson234 commented on #3
Getting the same error. Restarting HA once a week fixes it. Is there a way to ask for a fresh token after X number of failures?

[2020-02-13 14:38] #33 closed

[2020-02-13 14:39] JoshuaMulliken commented on #3
@cjackson234 it attempts to get a new token on each failure. I have been having some issues as well but as far as I can tell they are on wyze clouds side

[2020-02-13 20:16] JoshuaMulliken commented on #3
@cjackson234 I found a bug in the restore function! The application thought that it was consistently in an error state. I made a small change and I think it has fixed this issue.

[2020-02-14 07:17] cjackson234 commented on #3
Can you create a new release so HACS sees it?

[2020-02-14 15:23] JoshuaMulliken commented on #3
@cjackson234 I don’t think it’s as fixed as I thought it was. The issue is that I want to do concurrent requests to the bulbs so they turn on or off at once but I run into thread safety issues when I try to recover from an access token error

[2020-02-15 15:20] JoshuaMulliken commented on #3
@cjackson234 There is a new beta available check it out! Also If you have switches that would be really helpful for me to get additional testing done of those. I do not have any

[2020-02-16 05:10] cjackson234 commented on #3
Yes I have all switches and no light bulbs. So i'll let you know how it goes.

[2020-02-17 21:03] yfaber opened #34 "wyze lock"
Any updates on the wyze lock integration?

[2020-02-18 01:13] JoshuaMulliken commented on #34
Please refer to https://github.com/JoshuaMulliken/ha-wyzeapi/issues/29

[2020-02-18 01:13] #34 closed

[2020-02-20 17:20] markrickert commented on #29
Quick update: i'm in the process of moving across the united states to a new house and haven't had time or access to my lock. I got to the point where I could read the state of the lock but can't lock or unlock it. It will be more than a month before i'll be able to work on it again.

[2020-02-20 20:39] cjackson234 commented on #3
I ran into an issue where items become uncontrollable if their initial state is on. Is there a thread somewhere we should continue this conversation?

[2020-02-20 23:06] JoshuaMulliken commented on #29
Sounds good! Safe travels!

[2020-02-27 11:16] rizaanlakay commented on #29
Waits patiently for you geniuses to solve this issue :) So keen on getting this lock. Just wish it wasn't reliant on the Cloud.

[2020-02-27 12:27] JoshuaMulliken commented on #3
@cjackson234 that is strange... can you create a new issue. I looked at the code and I have no idea what would be causing that

[2020-02-28 20:46] JoshuaMulliken commented on #3
@cjackson234 do you have any updates on that?

[2020-02-28 23:54] yfaber commented on #29
Any updated on the wyze lock? I just got one.

[2020-02-29 13:05] yfaber opened #35 "wyze lock"
I just got the wyze lock and would love to integrate it to my HA... any updates on the progress?

[2020-02-29 14:57] JoshuaMulliken commented on #35
Please refer to Issue #29

[2020-02-29 14:57] #35 closed

[2020-03-01 01:03] JoshuaMulliken commented on #31
This is a known problem but I do not expect to work on this. If you would like to investigate I am open to a pull request

[2020-03-01 01:03] #31 closed

[2020-03-01 01:04] #26 closed

[2020-03-12 14:07] roger- opened #37 "Support camera API?"
Sorry if this is addressed elsewhere but is the Wyze camera API entirely different or can it be supported?

[2020-03-12 15:26] JoshuaMulliken commented on #37
Since you can use rtsp firmware to add the cameras into Home Assistant I will not be implementing the camera in this integration

[2020-03-12 16:00] roger- commented on #37
Understood, but normal firmware is still useful to those who want notifications from the cameras.

[2020-03-12 16:02] JoshuaMulliken commented on #37
It can be. There are alternative ways of getting notifications from rtsp streams

[2020-03-12 16:02] #37 closed

[2020-03-12 16:05] roger- commented on #37
Are you open to PRs?

[2020-03-12 17:23] JoshuaMulliken commented on #37
For the core functionality and devices with no alternatives but unfortunately, since I wouldn't be able to maintain this, I am hesitant to merge any code for handling the camera. If someone is willing to maintain that portion then that would be great though.

[2020-03-19 00:27] yfaber commented on #29
Any updates @JoshuaMulliken and @markrickert ?

[2020-03-25 15:43] IIAIronWolf opened #39 "[Feature Request] Two-Factor Authentication"
Currently, as you stated in the README, this integration does not support two-factor authentication. Would use this integration if two factor was an option, but do not wish to lower the security of my Wyze system in order to make this work as it is currently written.

[2020-03-30 16:40] hjdarnel opened #40 "AccessTokenError occurs after running for a couple of days"
**Describe the bug**
After a few days of uptime, the plugin starts to throw an error and my switches don't respond to input. Here's the log:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Configure configuration.yml with username and password, restart HA and wait a few days (?)

**Expected behavior**
the wyzeapi plugin should continue to work, as it does right after a restart.

**Syste

[2020-03-31 15:36] jfarmer08 opened #41 "[Feature Request] Add support for Sensors"
Can support for Sensors be added?

[2020-03-31 16:37] markrickert commented on #41
This already exists as a separate component. I use it for my door sensors and motion sensors from Wyze and it's been working flawlessly.

https://github.com/kevinvincent/ha-wyzesense

[2020-03-31 17:40] jfarmer08 commented on #41
I agree but I do like keep my bridge plugged into the camera and being able to to the Wyze app. Looking at the API and Running https://api.wyzecam.com/app/v2/home_page/get_object_list i get a return of my 3 sensors. So would think most of the work is done. I am still learning how to add integrations for Home assistant. My return is below.

{
    "ts": 1585675827352,
    "code": "1",
    "msg": "",

[2020-03-31 20:38] jfarmer08 commented on #41
I have made progress, but I sense this is new to me it might take awhile. Attach are my changes if anyone wants to look at it.
[wyzeapi.zip](https://github.com/JoshuaMulliken/ha-wyzeapi/files/4411473/wyzeapi.zip)

[2020-04-05 15:34] yfaber commented on #29
Hey guys, any updates?

[2020-04-09 16:16] icemanch opened #42 "Send and receive correct CCT"
Currently the CCT value is translated on a scale.  Because mireds isn't linear it doesn't accuretly communicate the request CCT from HA to Wyze.  I tinkered with the code and added the below that seems to work.  I'm not a python coder so it might not be the best implementation.

This is to send to Wyze.
[code]

This is to receive from Wyze.

[code]

This removes the translate from the calculation

[2020-04-09 16:50] JoshuaMulliken commented on #41
Hey @jfarmer08 this integration was made to bridge the gap for devices made by wyze that have no method of connecting locally. Since wyze sensors have an alternative method for control it is out of scope for this project. I am not likely to add any code for this as I would not be able to maintain it. I do not have sensors connected to my wyze accounts.

[2020-04-09 17:27] yfaber commented on #29
Any updates @JoshuaMulliken and @markrickert ?

[2020-04-12 06:35] brandon250r commented on #29
Also patiently awaiting 😊

[2020-04-12 18:20] markrickert commented on #29
#### Update for all you people staying at home, self-isolated, worried about your locks 🔒 😂 haha

I just successfully rooted my spare android phone so that I could man-in-the-middle the HTTPS traffic from the app to the server.

Just before the pandemic craziness I had moved 2,000 miles across the country from a home I own to a home I rent so getting Home Assistant back up and running hasn't been

[2020-04-12 21:00] yfaber commented on #29
hey man, glad you're settled in your new place... patiently waiting for the integration here! thanks and stay safe!

[2020-04-22 15:38] JoshuaMulliken commented on #40
Hey @hjdarnel,

I will work on getting additional logging around the affected area of code. Hopefully we can figure out what is going on.

I should have more time coming up soon due to the end of my school semester and I will be able to focus back on this project!

Thanks for submitting an issue! I hope that I will have a new beta for you to try out in the next week or two.

[2020-04-22 15:41] hjdarnel commented on #40
Thanks @JoshuaMulliken! I totally understand. From my limited knowledge of oauth it’s not refreshing the token properly. 🤷‍♂️

Anyway ping here when you get some logs put in and I can pull it and start investigating!

[2020-04-25 23:26] ArndBrugman commented on #40
Although not experincing this as I restart my HA twice a day I have found some code to refresh a token that might work when token looses access: https://github.com/noelportugal/wyze-node/blob/master/index.js

I hope this still works and could be implemented too. Sadly I am no Python dev so cannot assist with this.

[2020-04-26 01:32] hjdarnel commented on #40
Yeah for now I might just restart every night or something to fix this.

On Sat, Apr 25, 2020 at 6:26 PM Arnd Brugman <notifications@github.com>
wrote:

[2020-04-26 15:02] ArndBrugman commented on #40
@JoshuaMulliken I've just tried this in PostMan and it returns a new access_token and refresh_token so it still works on the API of Wyze. Let me know if I can help implement it, although I'm not Python savvy, I might be able to point out where to add it.

[2020-04-26 16:25] JoshuaMulliken commented on #40
Awesome thank you for the research. Right now the code try’s to login again in order to get a new access token. It seems to work with the lights but obviously switches are an issue. I will hopefully be able to get a beta with more debug logging soon. Exams are next week so once they are done I will have more free time to work on this.

[2020-04-26 20:10] welbo97 commented on #29
@markrickert I'm far from an expert, but on my newest mac, in order to do some simple compiling, I installed XCode from the mac app store and vscode afterwards to fix the file type associations. Xcode provides the compilers and vscode just rocks. As for docker, I'm clueless. Sorry.
Wyze lock looks pretty cool. Are you concentrating on reverse engineering the api with the cloud service or are you a

[2020-04-28 15:16] JoshuaMulliken commented on #40
Interestingly it doesn't have this issue with the lights. I think there is something funny going on with the switches.

[2020-04-28 15:18] hjdarnel commented on #40
I will say I only use the API for switches 😃

[2020-04-28 20:14] JoshuaMulliken commented on #42
This works great! I will add this in to the project.

[2020-04-28 20:14] #42 closed

[2020-04-28 20:20] JoshuaMulliken commented on #40
@hjdarnel can you download the latest from master. I have more logging in there. I plan on implementing refresh token support later but at least this will give us more insight

[2020-04-28 20:26] hjdarnel commented on #40
I've installed it, we'll need to give it some time for the access token to expire before it logs much 👍

[2020-04-28 20:44] hjdarnel commented on #40
Getting an error off master @JoshuaMulliken

[code]

[2020-04-28 20:45] JoshuaMulliken commented on #40
Yep just fixed that one.

[2020-04-29 07:59] lupalby commented on #41
Would you be interested in adding your code in GitHub? I'd like to take a look at it and possibly try it too, as I also like the idea of leaving the bridge plugged in the camera and connected with all the rest of the Wyze ecosystem.
Normally I would suggest to create a new branch, but if Joshua doesn't want that to be included in here perhaps a fork would be more appropriate.

[2020-05-01 15:58] rbees opened #43 "Repo not useable"
Virtual Box VDI
System | HassOS 3.13
-- | --
Deployment | production

Setup May 1, 2020

20-05-01 14:34:26 INFO (MainThread) [supervisor.store.git] Update add-on https://github.com/home-assistant/hassio-addons repository
20-05-01 14:34:26 INFO (MainThread) [supervisor.store.git] Update add-on https://github.com/JoshuaMulliken/ha-wyzebulb repository
20-05-01 14:34:26 INFO (MainThread) [supervisor.s

[2020-05-02 02:04] psicard commented on #40
I'm not sure if this is related, but I just installed through HACS (not sure which branch that is) and got this:
2020-05-01 20:55:03 ERROR (MainThread) [homeassistant.setup] Error during setup of component wyzeapi
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 171, in _async_setup_component
    hass, processed_config
  File "/config/custom_component

[2020-05-02 17:38] yfaber commented on #29
@markrickert hey bud... any updates? That's the last thing i want to connect to my HA instance ;)

[2020-05-04 16:43] JoshuaMulliken commented on #40
@psicard It seems like it cannot login. It is failing on startup so that would be my thought. Check the credentials. Remember 2fa doesn’t work with this.

[2020-05-04 16:44] JoshuaMulliken commented on #40
@hjdarnel any new logs?

[2020-05-04 16:46] hjdarnel commented on #40
@JoshuaMulliken I actually haven't experienced the original issue since changing to pull from master instead of a numbered release. I wonder if the numbered releases were/are behind or something. I'll pull logs if it comes up though.

[2020-05-04 16:48] JoshuaMulliken commented on #40
@hjdarnel That’s great! I am going to be switching to use the refresh token soon and it would be great to have a beta tester for that. Would you be able to do that when it comes along?

[2020-05-04 16:49] hjdarnel commented on #40
Sure, let me know when you have a working branch up and I can have HACS pull it

[2020-05-04 20:03] psicard commented on #40
Oops.  Yeah, I have 2FA turned on...

On Mon, May 4, 2020 at 11:43 AM Joshua Mulliken <notifications@github.com>
wrote:

[2020-05-05 15:43] JoshuaMulliken commented on #43
This looks like a HACS issue. Have you filed an issue there?

[2020-05-07 02:29] #43 closed

[2020-05-07 02:29] JoshuaMulliken commented on #43
I've closed this issue because it doesn't appear to be relevant. If you have additional information please feel free to open a new issue or reply to this one.

[2020-05-08 16:36] JoshuaMulliken commented on #40
@ArndBrugman Can you look at this pull request for me. Should this work to use the refresh token? https://github.com/JoshuaMulliken/ha-wyzeapi/pull/44

[2020-05-08 17:19] JoshuaMulliken commented on #41
@lupalby If you would like to be a contributor on this project and maintain the sensor component that could work! I took a look at your fork and it is awesome work!

[2020-05-08 17:47] JoshuaMulliken commented on #29
@markrickert I run my home assistant out of a docker container and have the config directory mounted as a volume. If you use vscode remote connection extension you can do development work in the running home assistant config (just restarting ha whenever you make a change). When you are done you can just copy the wyzeapi folder out of your custom_components directory into the git directory and comm

[2020-05-08 18:28] lupalby commented on #41
@JoshuaMulliken Thank you for having this library as a starting point! I have to admit that @jfarmer08 made things a lot easier. I just had to figure out which pids are used by the contact and motion sensors, and polished the code a little.

I tested my changes and they seem to work alright, the only problem is the update rate. The bulbs and switches only really need to fetch their status at the b

[2020-05-08 18:53] JoshuaMulliken commented on #41
@lupalby The Wyze app does polling as well but all of the automatons in their app using the motion sensors take place on server side so I do not know how to get notifications from that. Probably the best way to use the sensors is https://github.com/kevinvincent/ha-wyzesense

[2020-05-08 18:58] ArndBrugman commented on #40
As mentioned I am no Python guy. It looks fine though. easiest way to validate is to rais an exeption right after:

try:
            return await WyzeRequest(url, payload).async_get_response()
---> HERE!!!

This will force to refresh the access token and retry for a second time. Note this is for validation/debugging only, not the actual release.

Also I see the function

    def is_valid_login(sel

[2020-05-09 00:31] #40 closed

[2020-05-09 00:54] JoshuaMulliken commented on #40
Ok @hjdarnel the latest master should be using the refresh token so if you pull an update from master you can help test it

[2020-05-09 19:37] yfaber commented on #29
@JoshuaMulliken any chance you can give Mark a hand on the wyze lock integration? :)

[2020-05-10 02:19] JoshuaMulliken commented on #29
@yfaber I do not have a lock so there is not much I can do other than offer my knowledge of this integration

[2020-05-10 11:45] markrickert commented on #29
I was transitioning projects right as the pandemic hit and my next project got delayed so I've been scrambling to get some kind of income as a self employed entrepreneur (dealing with PPP loans and working on new products, etc)

I also moved from a home i own to a home i rent right as the pandemic started so i'm not actively using my Wyze lock and it's not top-of-mind right now. I can't be the onl

[2020-05-11 20:11] JoshuaMulliken commented on #29
@markrickert haha sounds good. @yfaber I am going to be doing the same soon and the funds are too tight right now for me to purchase a lock. If you can find someone else who has the knowledge or work on this yourself then please be my guest. Other than that please stop pinging everyone in this chat ever couple of weeks. When mark or someone else wants to put in the work they will make it happen bu

[2020-05-11 21:52] bachya commented on #29
FYI, I'm obtaining a lock soon and will work to add support. 👍

[2020-05-12 16:20] jfarmer08 commented on #41
I have fork the project with my changes. I also made changes to Light and Switch so that they report the RSSI, Ip, SSID and Mac address for Attributes.

I have not made any changes to polling but the sensor normal update within 5 seconds.
https://github.com/jfarmer08/ha-wyzeapi

[2020-05-12 18:35] JoshuaMulliken commented on #29
@bachya Great! I am excited to see your work

[2020-05-12 18:37] JoshuaMulliken commented on #41
The light and switch changes are really cool! can you create a pull request so we can get that code into this repo?

[2020-05-12 19:14] jfarmer08 commented on #29
I want to start of with I do not own a Wyze Lock, but If someone can get me the return data from Postman i can add lock support. With the information @markrickert has given i can add it but would not be able to control it. Using the link below you can download postman and then install it.
You will need the Wyze Postman Collection and import it into postman. After you are able to see the five wyze

[2020-05-12 19:26] jfarmer08 commented on #41
Can we add the sensors to the pull Request?

[2020-05-12 19:40] jfarmer08 commented on #41
I have created a pull request. For the sensors we could add an option to the configuration and let the end user decided if they want to see them in home assistant or not.

[2020-05-12 20:21] JoshuaMulliken commented on #41
@jfarmer08 Thank you! There is a beta release available that includes your code!

[2020-05-12 20:35] jfarmer08 commented on #41
I have downloaded the release using HACS and so far no issues. I will also work on the polling and maybe add to the configuration for options.

[2020-05-13 13:40] jfarmer08 commented on #41
@JoshuaMulliken I have add support to exclude devices from HA and support for Sensor Polling.
@lupalby If you have sensors would you like to test this?

[2020-05-13 15:20] yfaber commented on #29
@jfarmer08 i'm playing with postman now, any chance we can chat live about this?

[2020-05-13 15:28] yfaber commented on #29
I keep getting ACCESS TOKEN ERROR when I send a post

[2020-05-13 16:01] lupalby commented on #41
Got a lot happening at work recently, but I'll give it a try soon. The 5 minutes polling makes the system almost useless at the moment, almost nothing stays open or in motion for such a long time. I have to say the information online to change that is quite scarce, I hope you find a solution!

[2020-05-13 18:21] jfarmer08 commented on #29
I am fine with that. What works best for you?

[2020-05-13 18:28] jfarmer08 commented on #41
@lupalby I am waiting on a pull request from @JoshuaMulliken before you will see the polling increase from 30 seconds to 5 seconds.

[2020-05-13 20:22] yfaber commented on #29
@jfarmer08 are you on the HA discord? You can also ping me at yfaber@me.com and we can jump on a zoom call.

[2020-05-13 20:44] jfarmer08 commented on #29
@yfaber I am on Discord but i have never used it.
allenfarmer1@gmail.com

[2020-05-14 15:44] kdoh82 commented on #29
@jfarmer08 thanks for the postman collection! i was able to get the everything to work except the set property post call for the lock. I guess we're trying to change the "P3" pid to a 0/1 to lock/unlock correct? When I send the post with the "pvalue" set to those values I get a response with "code: 1", "msg:" empty and "result: 3" within the data block so doesn't seem to be working unless I'm doin

[2020-05-14 15:49] markrickert commented on #29
@kdoh82 you're about where I got into researching this. Could read all the values from the API but couldn't actually publish the lock or unlock commands.

One thing that i'm thinking is that the app is somehow communicating with the gateway over the network to send the command instead of through the wyze api server... perhaps separating the networks to ensure the wyze api is sendint eh lock/unlock

[2020-05-14 17:42] jfarmer08 commented on #29
@kdoh82 That is the same thing that @yfaber and I are seeing. I have created a dev branch with lock support. You can see the lock status and Door status with updates, but you cannot controll it at this time. Since I don't have a lock someone will have to use Fiddler or something to trace the calls.

After some more testing we might be able to merge.

[Forked WyzeAPI Dev](https://github.com/jfarmer

[2020-05-14 18:15] kdoh82 commented on #29
AFAIK, the zigbee GW is connecting to a MQTT broker somewhere in AWS over a secure TLS1.2 channel and subscribing probably to a topic that is specific to your account/devices. Then the app is connecting to an API on a server on yd-saas-toc.wyzecam.com again in AWS. Interestingly enough, it looks like when the button on the app is pressed to lock/unlock the wyzelock, it goes to a different server a

[2020-05-14 18:17] kdoh82 commented on #29
@jfarmer08 is there a way to run something like fiddler on an iphone without jailbreaking? i guess you'd need a jailbroken android device to do something like this correct?

[2020-05-14 18:20] jfarmer08 commented on #29
@kdoh82 Its pretty easy to do that with an Iphone. You just have to use the
proxy that is built into Fiddler.

https://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/ConfigureForiOS

On Thu, May 14, 2020 at 2:17 PM kdoh82 <notifications@github.com> wrote:

--
Thanks Allen :)

[2020-05-14 22:28] jfarmer08 opened #48 "[Feature Request] Support Wyze Cam(RTSP)"
I just want to see what the response of those people following this repo on adding the Wyze Cam as switch. So my thought is from the app you can turn the camera on and off, way not add this function to HA, but before I go any further is it worth it.

I see this as being good, When i am home I can create or automation and have HA turn the cameras off and when i leave turn them back on.

![image](ht

[2020-05-15 01:33] kdoh82 commented on #48
You can do this currently with the integration as it is. When the lights
get added to HA as an entity you can simply call the service
"light.turn_on" or "light.turn_off" as part of your automations. Is there
something I'm missing here that you're trying to do?

On Thu, May 14, 2020 at 6:28 PM jfarmer08 <notifications@github.com> wrote:

[2020-05-15 01:59] jfarmer08 commented on #48
This is for the camera. So that you can turn it on or off. not for the
Light.

On Thu, May 14, 2020 at 9:33 PM kdoh82 <notifications@github.com> wrote:

--
Thanks Allen :)

[2020-05-15 02:31] kdoh82 commented on #48
My mistake... (slowly walks backward out of the room)

On Thu, May 14, 2020 at 9:59 PM jfarmer08 <notifications@github.com> wrote:

[2020-05-15 14:22] zas0006 commented on #48
This would be a really great addition, IMHO

[2020-05-15 21:13] jfarmer08 commented on #29
Thanks to @yfaber for allowing me access to his lock for testing. We were able to at least get the lock state working along with door state. Which is good for automation. @kdoh82 You are correct about the broker service and i am not sure how to get around that. Fiddler is unable to de-crypt the lock command after it gets to that point. After @yfaber has time to test his lock with HA I will create

[2020-05-15 22:32] AkshatShah1 opened #49 "[Bug] Can't add as custom repository"
Hi, I am new to Home Assistant so forgive me if I am overlooking something simple, however, when I try to follow the instructions in README, I get the following error in the System Log:

20-05-15 22:20:13 INFO (MainThread) [supervisor.store.git] Clone add-on https://github.com/JoshuaMulliken/ha-wyzebulb repository

20-05-15 22:20:15 ERROR (MainThread) [supervisor.utils.json] Can't read json from /

[2020-05-16 15:24] yfaber commented on #29
All is working well so far, thanks for investing the time @jfarmer08 ! Hopefully, more brains will join us and figure out a way to control the lock.

[2020-05-16 22:21] JoshuaMulliken commented on #49
Hmm. That looks like a HACS issue have you submitted an issue there?

[2020-05-16 22:23] JoshuaMulliken commented on #29
@jfarmer08 I think that any information that we can get into ha is useful! When you are ready I will accept the pull request.

[2020-05-16 22:24] JoshuaMulliken commented on #48
@jfarmer08 I think that is a fantastic idea. I don't have the time to develop that but it would be a great addition.

[2020-05-16 22:31] JoshuaMulliken commented on #14
It doesn't appear that there isn't any interest in this feature so I will be removing this issue.

[2020-05-16 22:31] #14 closed

[2020-05-17 06:51] svenugop opened #50 "Error during startup -- Unable to find device type field!"
Hi

Thank you for this HACS component. Finally found a way to control my Wyze bulbs using HA!

I am having an issue getting the component to work even after updating my configuration.yaml. When I check the logs, this is the error I see --> ' Unable to find the device type field!'

Pasting the relevant section of the log and the traceback over here.

Any suggestions as to what is happening?

[code]

[2020-05-17 14:15] svenugop commented on #50
:This is what my configuration looks like:

[code]

[2020-05-17 15:40] AkshatShah1 commented on #49
I'll try and see what they say over there, thank you

[2020-05-17 20:27] svenugop commented on #50
This was stupid on my end. There was an error in my user name. Works fine now!

[2020-05-17 20:27] #50 closed

[2020-05-20 20:24] jfarmer08 commented on #48
I have added support to HA to add Wyze Cam using RTSP/FFMPEG. I have also gotten the service to work with shutting down the stream and starting the stream. This is the main part that I wanted to add. I do have issues with one camera that will shut down the RTSP stream and i have to restart the camera or open the app to stop and start the stream. Now I would be able to do this using HA.

All that i

[2020-05-20 20:29] jfarmer08 commented on #41
@lupalby Support for Polling the sensor has been add the latest beta release if you would like to try it.

[2020-05-21 18:58] 1h8fulkat opened #52 "Update deprecated light and switch components"
[code]

Home assistant .110 has been throwing the following errors relating to the HA-WYZEAPI integration.  Looks like the integration needs to update the component references.

[2020-05-22 03:00] AkshatShah1 commented on #49
Okay, so apparently I was assuming that I wouldn't have to install HACS and I thought it was built into Hassio but I was wrong and so I installed HACS and added this as a custom repo. However, now it shows up as a new repository but after selecting a version and hitting install nothing happens.

[2020-05-26 16:44] jfarmer08 commented on #29
@JoshuaMulliken can you take a look at the pull request for the lock?

[2020-05-26 19:51] JoshuaMulliken commented on #29
@jfarmer08 I will take a look after work

[2020-05-26 20:53] JoshuaMulliken commented on #49
Hmm that still sounds like a HACS issue. Sorry man

[2020-05-26 20:53] #49 closed

[2020-05-26 20:54] JoshuaMulliken commented on #29
@jfarmer08 I made a couple of comments. Overall it looks great! I am excited to see it being used out there.

[2020-05-26 21:45] jscherry commented on #29
I’m currently using the wyze sense add on with home assistant and it works great. Is this code ready and working for the locks? If so will I need to add the bulb and switch add on for the locks to work or is it a different api?

[2020-05-27 16:46] #30 closed

[2020-05-28 04:10] jscherry opened #53 "Lock not showing"
I've just installed version 4.2 and have also tried the 4.3 beta and the wyze lock isn't showing up under devices or entities. I have the lock calibrated properly and it works well with the wyze app.

**System configuration**
I'm running hassio (HA supervised) on a VM running Ubuntu with docker. Other details below:
docker | true
-- | --
hassio | true
host_os | Ubuntu 18.04.4 LTS
installation_type

[2020-05-28 04:23] jscherry commented on #53
just changed logger to default: info and the logs are the same.

[2020-05-28 12:32] jfarmer08 commented on #53
@jscherry The changes for the lock have not made it into the release or Beta release on HACS. If you want to test the lock you will need follow the manual Installation.

@JoshuaMulliken Will update the HACS repo soon.

[2020-05-28 12:37] jfarmer08 commented on #29
@jscherry Please see the Readme You can excluded any of the Devices you dont want to pull in using the API. Also you can only see the status of the Lock state.

wyzeapi:
  username: <email for wyze>
  password: <password for wyze>
  sensors: false
  light: false
  switch: false
  lock: false

[2020-05-28 13:46] JoshuaMulliken commented on #53
You can also select master in HACS that will be the most bleeding edge code and right now it includes the lock

[2020-05-28 16:10] Caustik314 commented on #41
Hey guys!  I'm very impressed with your work here!  I have a few bulbs and plugs, and everything is still working with the latest beta firmware updates released today!  I can see all my contact and motion sensors showing up as entities, but I had a question about those.  I'm still new to HA and am learning how to run automation now.  What are the statuses for these "binary sensors," I'm guessing i

[2020-05-28 18:08] 1h8fulkat commented on #52
I thought this was resolved, but it's still appearing in the logs

[2020-05-28 18:25] jfarmer08 commented on #53
@JoshuaMulliken  Good call I forgot about that.

[2020-05-28 23:21] jfarmer08 commented on #29
@yfaber  You can select master in HACS that will be the most bleeding edge code and right now it includes the lock

[2020-05-29 01:05] jscherry commented on #53
Got it working thanks. I know very little coding but if I can help in any way to get the lock unlock functions working please let me know.

[2020-05-29 01:42] kdoh82 commented on #53
some bad news. i got fiddler set up on my network and was able to connect
my phone through it try and sniff some of the api commands from the
lock/gateway and it does not work for the lock. i can see all the api calls
for the other domains but the minute i try to bring up the lock or the
gateway in the app, the app throws and internal server error and nothing
happens. wondering if others are seein

[2020-05-29 13:43] jfarmer08 commented on #53
@kdoh82 Can you try and adding a Rule - Shortcut, Schedule or Device Trigger for the lock. This might allow you to see something new.

When i found on the cameras was with a shortcut the API was running a Run_action command and I was able to repeat it to turn it on and off. If by chance it does show something for the run_action we would need the action_key parameter.

https://api.wyzecam.com/app/v

[2020-05-29 13:48] jfarmer08 commented on #41
@Caustik314 If you need faster polling then i would recommend using https://github.com/kevinvincent/ha-wyzesense

[2020-05-29 18:59] JoshuaMulliken commented on #52
Gotcha. Thanks for the heads up.

[2020-05-29 19:01] JoshuaMulliken commented on #53
@kdoh82 @jfarmer08  please move this conversation to the main feature thread. I am going to be closing this one as it appears to be resolved

[2020-05-29 19:03] #53 closed

[2020-05-29 19:07] jfarmer08 commented on #48
If anyone has time please feel free to help me with camera support.

[https://github.com/jfarmer08/ha-wyzeapi/tree/Camera](https://github.com/jfarmer08/ha-wyzeapi/tree/Camera)

[2020-05-29 19:07] JoshuaMulliken opened #54 "Write release notes and create beta for v0.5.0"
The recent changes made by @jfarmer08 warrant a bump in minor version number.

I want to write up all the changes and describe the latest functionality of the project so that it is easy to use.

[2020-05-29 19:25] JoshuaMulliken commented on #54
Done!

[2020-05-29 19:25] #54 closed

[2020-05-29 19:27] JoshuaMulliken commented on #29
This is now in the v0.5.0-beta.1 release!!!

[2020-05-29 19:27] JoshuaMulliken commented on #41
This is now in the 0.5.0-beta.1 release!!!!!

[2020-05-29 19:27] #41 closed

[2020-05-29 19:42] JoshuaMulliken commented on #52
Fixed in commit 0c8b000f46d6aac1954e3b27a5295c90140af068

[2020-05-29 19:42] #52 closed

[2020-05-29 19:44] JoshuaMulliken opened #55 "[Task] Bump version number in logging code"

[2020-05-30 04:04] Caustik314 commented on #41
Finally got around to reading about that today, turns out, they do not have it working with HA Supervisor yet.  So I guess I'll be re-installing yours and dealing with the 5 second polling for now!  :)  Thanks again guys!

[2020-05-30 20:00] siobhter opened #56 "[Feature Request] Assign to areas"
**Is your feature request related to a problem? Please describe.**
No problems, this is working as it should. Excellent work, by the way.

**Describe the solution you'd like**
I wondered if there is a way to assign the Wyze switches to an area?

[2020-05-31 18:10] johnfuller5 opened #57 "Unable to get wyzeapi setup[Bug]"
**Describe the bug**
Error on setup of wyzeapi

**To Reproduce**
Steps to reproduce the behavior:
1. Install repository from HACS
2. Edit configuration.yaml file and save
3. restart HASS
4. Notification of error: Invalid config  The following integrations and platforms could not be set up: wyzeapi  Please check your config.

**Expected behavior**
Install and setup of wyzeapi - discovery of switche

[2020-06-01 20:05] jfarmer08 commented on #56
@siobhter I can look into this for you, but It might take some time.

[2020-06-01 20:08] siobhter commented on #56
That would be awesome! How do I send you a beer for the trouble?

On Mon, Jun 1, 2020, 1:05 PM jfarmer08 <notifications@github.com> wrote:

[2020-06-02 00:17] jfarmer08 commented on #57
This could just be an windows issues. I have only tested on Linux.

[2020-06-02 00:18] jfarmer08 commented on #56
No need this would be helpful for me too.

[2020-06-02 00:20] siobhter commented on #56
That's awesome, let me know if you need someone to test.

On Mon, Jun 1, 2020, 5:18 PM jfarmer08 <notifications@github.com> wrote:

[2020-06-02 19:06] jfarmer08 commented on #23
I have started a new project for Documents. If anyone wants help.
https://github.com/jfarmer08/Wyzeapi_Documents

[2020-06-03 01:06] jfarmer08 commented on #39
I have the required documents to make this happen. So we should see something soon.

[2020-06-03 03:04] IIAIronWolf commented on #39
Awesome! Thanks for the update!

[2020-06-03 13:23] JoshuaMulliken commented on #57
I haven't seen this either

[2020-06-03 13:26] JoshuaMulliken commented on #39
Sweet @jfarmer08 this would be awesome

[2020-06-03 13:32] #55 closed

[2020-06-03 13:33] JoshuaMulliken commented on #29
Since everyone seems pretty happy with the state of this I am going to close this request and push an official v0.5.0 release!

[2020-06-03 13:33] #29 closed

[2020-06-03 13:40] JoshuaMulliken commented on #56
Yep, we might have to transition to describing the "entities" as "devices" instead. The only things that can be assigned to an area are "devices". It might not be that hard because a device is just a collection of entities. Maybe we can just wrap what we already have in a device object.

[2020-06-03 13:42] JoshuaMulliken commented on #23
@jfarmer08 maybe we can make those part of a wiki on this project for visability

[2020-06-03 13:53] JoshuaMulliken commented on #23
@jfarmer08 I added your awesome docs to the wiki. I did some grammar checking and formatting but otherwise, it is exactly the same.

[2020-06-03 13:53] JoshuaMulliken commented on #23
@all I think this issue is resolved by the wiki

[2020-06-03 13:53] #23 closed

[2020-06-03 14:24] JoshuaMulliken commented on #41
@Caustik314 That's great man!!

[2020-06-03 14:44] Caustik314 commented on #41
Hey quick question for ya, it really seems like the bulbs and switches are being controlled locally, do I need the api connection after the first run?  Or is there some way to assign names and ip addresses in the configuration.yaml to do so?  I'm trying to figure out if it is even possible to completely remove my devices from the internet and keep them 100% local with this integration.  This is st

[2020-06-04 18:11] AkshatShah1 opened #59 "[Feature Request] Set switches as devices"
**Is your feature request related to a problem? Please describe.**
Kind of, due to the fact that the switches are only entities ATM, I cannot setup an automation with them

**Describe the solution you'd like**
I would like the switches to be added as devices so it is possible and more streamlined to create automations and such

**Describe alternatives you've considered**
n/a

**Additional context*

[2020-06-04 19:06] jfarmer08 commented on #41
@Caustik314  The whole project needs a connection back to Wyze API. This is the only way it will work. We could bring in the scale and Band, but I do not have the time.

[2020-06-04 19:43] AkshatShah1 commented on #59
Yes I can do that, however, I cannot set it as an action. LIke for example if I want to turn my lights off at sunset I can make it so that the automation only proceeds if the wyze switch is on/off but I can't make it so that sunset turns off the switch

[2020-06-05 06:04] int-rnd commented on #57
I am also having this problem. Running on linux (raspberry pi). error:

`2020-06-04 23:48:02 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for wyzeapi which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-06-04 23:48:02 WARNING (MainThread) [homeassistant.

[2020-06-05 12:54] jfarmer08 commented on #57
What Version of Home Assistant are you using and what version of WyzeAPi are you using?

[2020-06-06 01:36] Corradiac commented on #57
@int-rnd it runs fine on the latest version of HA.

I was having the similar issue as yours.  'Platform not found' for my wyze lock, until I updated HA from 0.109.6 to 0.110.5 (latest).

[2020-06-07 02:02] imhotep commented on #59
@AkshatShah1 define an action "Call service" and specify switch.on/off/toggle and select the entity?

[2020-06-07 02:03] imhotep commented on #39
Yes, this would be great!

[2020-06-07 02:24] AkshatShah1 commented on #59
That's why I labeled this as a feature request instead of a bug. It's possible but it would be better for them to be listed as devices instead of entities

[2020-06-07 02:34] AkshatShah1 commented on #59
I can, but it would be more streamlined and "proper" for it to be labeled as a device. It isn't a big issue, that's why I labeled this as a feature request instead of a bug.

[2020-06-07 04:40] AkshatShah1 commented on #59
I can, but it would be more streamlined and "proper" for it to be labeled as a device. It isn't a big issue, that's why I labeled this as a feature request instead of a bug.

[2020-06-08 16:03] kdoh82 opened #60 "[Feature Request] Low battery status as attribute for lock"
**Is your feature request related to a problem? Please describe.**
 No.

**Describe the solution you'd like**

My lock currently has a low battery alert on the app that normally doesn't appear so I'm thinking it might be a good idea to add that to the attributes for the lock in HA so we can trigger against it, notifications, etc.

I can help by running calls and getting information as needed if so

[2020-06-08 16:45] markrickert commented on #60
This is a great idea to track this attribute on the lock. It would be useful information in a HA dashboard.

[2020-06-08 20:04] jfarmer08 commented on #60
@kdoh82 We should add this if we can get the information from the API

[2020-06-08 20:05] jfarmer08 commented on #57
@int-rnd  Are you still having an issue if you upgrade HA

[2020-06-08 20:10] jfarmer08 commented on #39
If anyone has the knowledge of HA Development and would like to help please let me know.

[2020-06-08 23:51] kdoh82 commented on #60
Looks like this info is only available through the MQTT data or the page
that doesn't display when I call the page connecting through Fiddler.

On Mon, Jun 8, 2020 at 4:04 PM jfarmer08 <notifications@github.com> wrote:

[2020-06-09 00:26] jfarmer08 commented on #60
Thanks for Checking. We can close this request.

[2020-06-09 00:26] #60 closed

[2020-06-09 00:31] jfarmer08 commented on #59
I will close this Request in favor of the below.
[Duplicate of #56](https://github.com/JoshuaMulliken/ha-wyzeapi/issues/56)

[2020-06-09 00:31] #59 closed

[2020-06-10 00:59] yfaber opened #61 "Home Assistant Integration for Wyze Bulbs, Switches, Sensors and Lock"
Did you guys merge the Wyzesense and Wyzeapi into the same project? After installing this update the other Wyzesense stopped working.

[2020-06-10 22:58] diegotv commented on #57
Yup

Just upgraded to Home Assistant 0.111.0
Still getting the notification:

And this is from log:

[2020-06-10 22:59] Caustik314 commented on #61
I am running both integrations, but on **_this_** one I use "sensors: false" under my config in  configuration.yaml

[2020-06-10 23:34] jfarmer08 commented on #57
@diegotv You have MFA(Muti Factor Authentication) Wyze calls it Two Factor Authentication turned on. The last line in the log is the give away. As stated in the Readme WyzeAPI does not support Two Factor Authentication at this time. We hope support this in the feature release.

Response Data: {'ts': 1591816385239, 'code': '3033', 'msg': 'UserOpenTwoFactorAuth', 'data': {}}

[2020-06-10 23:39] jfarmer08 commented on #61
@Caustik314 that would be the correct way to do it, but even if you don't call out sensors: false it will not cause an issue with a different integration. Thank you for testing.

[2020-06-11 00:07] diegotv commented on #57
Jeez

I didn't realize I had it on
Everything was just seen

Thank you

[2020-06-11 01:06] jfarmer08 commented on #57
Glad it’s working. We can close this.

[2020-06-11 01:06] #57 closed

[2020-06-12 03:51] lmontin commented on #48
Hi. great work! I have wyze cam v2 with rtsp. I tried your instructions. I have this in config yaml
( I wanted to confirm it is the camera MAC  as seen in app device info right ? )
wyzeapi:
  username: xxx
  password: xxx
  sensors: false
  light: false
  switch: false
  lock: false
  camera:
    MACADDRESSS??:
      username: xx
      password: xxxx

the camera username/password is from the rtsp:

[2020-06-12 04:38] lmontin commented on #48
i realised i have installed any kind of ffmpeg before .. do i need to do that first ? something like this http://jollejolles.com/installing-ffmpeg-with-h264-support-on-raspberry-pi/

[2020-06-12 15:27] jfarmer08 commented on #48
What version of HA are you using? Also what type of install? You do have to have FFMpeg but i thought HA would install it for us.

[2020-06-12 15:58] jfarmer08 commented on #48
Also need to note. that the config options do not currently work for the camera.. The Username and password are hardcoded  as admin:admin. You will have to change it in the camera.py

[2020-06-12 21:07] lmontin commented on #48
Thanks . I updated the user/pwd directly in camera.py and also I had to add this to my config yaml
ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

now no errors and I get boxes in the overview UI for my 2 cams. I click to view video  and it shows a video control box but shows a "loading"  spinner and  it doesnt show video .

[2020-06-12 21:19] jfarmer08 commented on #48
Are you using a raspberry pi? It could be running out of memory.

[2020-06-14 01:16] #61 closed

[2020-06-16 17:52] jfarmer08 commented on #48
@lmontin Were you able to see the cameras?

[2020-06-20 16:41] terrycarlin opened #62 "Wyze Lock Battery Level Attribute"
**Is your feature request related to a problem? Please describe.**

Being able to write an automation to monitor the battery level on the Wyze Lock will help prevent Wyze Lock failures.
**Describe the solution you'd like**

Would like to have a battery attribute for Wyze Lock indicating percentage of battery charge
**Describe alternatives you've considered**

**Additional context**

The battery le

[2020-06-20 18:19] terrycarlin opened #63 "WyzeApi failure when calling lock.lock service using lock.front_door device"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Developer Tools'
2. Click on 'Services.'
3. Enter lock.lock for Service
4. Enter lock.front_door for Service Data
5. Press Call Service
6. Lock does not lock
7. See error in home-assistant.log

This error comes up using Service lock.unlock also.

When locking and unlocking the front_door lock normally via the Wyze ap

[2020-06-22 12:41] jfarmer08 commented on #63
@terrycarlin  This is clearly stated in the Readme that Lock and Unlock is not supported..

[https://github.com/JoshuaMulliken/ha-wyzeapi/blob/master/README.md](https://github.com/JoshuaMulliken/ha-wyzeapi/blob/master/README.md)

View Wyze Lock Status and Door Status as lock through HA
Note: Currently you can only view the lock status or door status. Lock and Unlock does not work!

[2020-06-22 12:42] #63 closed

[2020-06-22 12:50] jfarmer08 commented on #62
This was already discuss and currently unable to be supported.

[https://github.com/JoshuaMulliken/ha-wyzeapi/issues/60](https://github.com/JoshuaMulliken/ha-wyzeapi/issues/60)

[2020-06-22 14:30] #62 closed

[2020-07-05 19:22] lmontin commented on #48
after i upgraded HA to 0.112.0.dev20200624 it magically worked . So yes I can now see the live stream.
yes i am on a rasp pi 4 2gb. I am running HA on docker.

on your page https://github.com/jfarmer08/ha-wyzeapi/tree/Camera  its says: 'View Wyze Cam V2 and Pan using RTSP.
Note: Supports camera.turn_on and camera.turn_off from HA Services.

do you mean ha.ul/developer-tools/service ?  DO you know

[2020-07-07 13:04] shshnkvadali opened #64 "[Bug] Wye lock api not found error"
** Wyze lock unlock/lock api errors **

```<ClientResponse(https://beta-api.wyzecam.com/app/v2/auto/run_action) [404 Not Found]>```

**To Reproduce**
Steps to reproduce the behavior:
1. Enable debug logs
2. Unlock the wyze lock
3. Print 'resp' variable

**Expected behavior**
Unlock the lock

**System configuration**
System: Docker
HA Version: v0.112.3
WyzeApi Version: v0.5.0

**configuration.yaml*

[2020-07-07 13:16] JoshuaMulliken commented on #64
@jfarmer08 Could they have changed the endpoint to a stable version? Are you experiencing the same issue?

[2020-07-07 13:19] JoshuaMulliken commented on #48
@lmontin Great!!

[2020-07-07 13:48] jfarmer08 commented on #64
We cannot support Locking and Unlocking the lock. We need to remove to code and report something else..

So the question, is the lock showing in HA with the correct States?

[2020-07-07 13:52] JoshuaMulliken commented on #64
Oh that's right. I wonder if we can add a flag that tells HA that the lock doesn't support that.

[2020-07-07 14:02] jfarmer08 commented on #64
Yeah.. i am sure we can.. I have been to busy with actual work that i have not had time to do anything else.. Maybe we can sync up on Discord or something..

I don't have a Wyze Lock so i cannot do anymore debugging for it. We i added this  @yfaber Helped me out with giving me access to his.

[2020-07-07 14:06] jfarmer08 commented on #48
@lmontin @JoshuaMulliken This is working, but i am not sure its the way to go.. I have been using Motion Eye for the cameras and its seems more stable then using HA. What are your thoughts?

[2020-07-07 14:22] JoshuaMulliken commented on #48
@jfarmer08 I had some success with the camera in HA but you are right it is not great. I havn't tried MotionEye I might attempt to set that up soon.

[2020-07-07 14:39] kdoh82 commented on #48
motionEye is definitely the way to go especially if you're wanting to see
the camera feed live. HA only updates the preview every 10 seconds so if
you're trying to do anything like object recognition/alerts it's not the
most efficient.

On Tue, Jul 7, 2020 at 10:22 AM Joshua Mulliken <notifications@github.com>
wrote:

[2020-07-07 14:58] lmontin commented on #48
my use case is just to use HA automation ( w HA presence etc ) to turn the cams on and off. I dont need the live stream in HA as I will just use the app on my phone to see stream and get alerts. I dont want to set up motion eye .. I just want to control cam on/off using HA  abilities so for me its great ( until / if wyze offer API / HA support )

[2020-07-07 15:30] JoshuaMulliken commented on #64
@jfarmer08 I'll do some research. I just moved so my system isn't set up yet. It might be good for us to connect with @yfaber. I'll PM you my discord name

[2020-07-07 15:31] JoshuaMulliken commented on #48
Hmm so it sounds like we might want to merge the on/off functionality but leave out the stream.

[2020-07-07 15:41] jfarmer08 commented on #48
Yeah i agree that is the way to go. I should not be hard to add as a switch.

[2020-07-07 15:46] JoshuaMulliken commented on #48
@jfarmer08 once i get my ha system back up and running I will try to get that done

[2020-07-07 16:05] zas0006 commented on #48
This sounds like a great way to move forward. I too use MotionEye for the
streams as it is much more reliable than HA (zoneminder is good too, and
allows for even more control of recording/motion detection in HA, but is
much heavier to run) but would love to just turn the cameras on/off based
on presence, rules, etc.

On Tue, Jul 7, 2020 at 11:46 AM Joshua Mulliken <notifications@github.com>
wrote

[2020-07-07 17:41] shshnkvadali commented on #64
I'd like to help if its feasible. Is there a development guide you can point me to?

[2020-07-07 18:05] Kilonga opened #65 "Error during setup of component wyzeapi"
I manually installed the wyzeapi because I was getting an error when doing it through the UI.  After entering the credentials in the configuration.yaml file I am getting the following error:

[code]
Any ideas?

[2020-07-07 18:26] JoshuaMulliken commented on #65
It looks like the password is incorrect.

[2020-07-07 18:26] JoshuaMulliken commented on #65
Do you have two factor enabled?

[2020-07-07 18:29] jfarmer08 commented on #64
@shshnkvadali Check out the link below to get started.

[Home Assistant Development](https://developers.home-assistant.io/docs/development_index/)

[2020-07-07 18:31] jfarmer08 commented on #65
yeah there is an issue with the username or the password.  It looks like 2fa is turned off.

[2020-07-07 23:05] johnfuller5 opened #66 "I lost a Wyze Switch while renaming and can't find it to retrieve. [Help Wanted]"
**Describe the bug**
I renamed an Entity for a Wyze Switch to fix a typo.  It disappeared from Home Assistant.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Configuration/Entity
2. Click on a Wyze Switch
3. Type New Name is Name Override
4. Hit update and the device disappeared.

**Expected behavior**
This has only happened once.  Every other time I have renamed an entity, it worked.

[2020-07-07 23:28] Kilonga commented on #65
2FA is turned off and the username/password is correct.  I do have special character on my password.  Could that be the issue?

[2020-07-08 01:29] JoshuaMulliken commented on #65
That shouldn't be a problem. If it is reporting the same error then that means that the Wyze servers believe that your password is wrong

[2020-07-08 01:29] JoshuaMulliken commented on #66
Is it gone in the developer entity listing?

[2020-07-08 03:47] johnfuller5 commented on #66
Yes - I see it In logs but it has disappeared from everywhere else.

[2020-07-08 15:29] Kilonga commented on #65
I changed the password and it worked.  When including special characters such as # in the password it doesn't work, even when the character is 'escaped' in the configuratiom.yaml file.

[2020-07-08 23:26] johnfuller5 commented on #66
Found it.  I was able to type in the entity name into developer tools to get it to show up there.  Then I was able to edit the name - noticed somehow it was disabled... probably user error.  Thanks for the help!

[2020-07-08 23:26] #66 closed

[2020-07-09 17:22] JoshuaMulliken commented on #65
Hmm, that is interesting. Thanks for the feedback

[2020-07-09 17:22] #65 closed

[2020-07-10 00:41] n8carrier opened #67 "[Feature Request] Support for Wyze Plugs"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
I'd like to be able to use Home Assistant to control Wyze Plug devices

**Describe alternatives you've considered**
Integrating via IFTTT

**Additional context**
N/A

[2020-07-10 07:19] Mincka commented on #48
Hello,

Thank you for this integration! This is the closest from what I'd like to do.
Great stuff from @jfarmer08 also. I tested successfully the camera support.

Even if the camera support is a great addition, I think you are right about the fact that the streaming support should not be added, or I should say, not like this.

In my case, I still have both RTSP et non-RTSP Wyze cameras. It is clea

[2020-07-10 08:21] lmontin commented on #48
great idea. I thought cam on/off access etc was only available with RTSP firmware?  .. but if it isnt coupled to that then it would be even better to just have control and event access with normal firmware !!

[2020-07-11 18:22] JoshuaMulliken commented on #67
This is currently supported. They are known as switches. Please check the readme

[2020-07-11 18:22] #67 closed

[2020-07-11 18:25] JoshuaMulliken commented on #48
I think the on/off is available for all firmware versions. @Mincka I would be very happy to accept a PR that pulls events from the cameras!

[2020-07-11 18:26] n8carrier commented on #67
Sorry didn't realize that was the same thing. Thank you!

[2020-07-11 18:56] jfarmer08 commented on #48
Yes the on/off is available thru the api.

[2020-07-11 20:12] JoshuaMulliken commented on #67
No worries @n8carrier!

[2020-07-13 15:15] dimmanramone commented on #48
@jfarmer08 @JoshuaMulliken Turning on/off the cameras sounds really good. Anyway to turn on/off the notifications and turn on/off motion detection?

[2020-07-13 17:29] jfarmer08 commented on #48
@dimmanramone  @JoshuaMulliken
Yes, You can get Notifications and Motion settings from the API. For example PID value P1001 is Event Recording / Detects Motion and PID value P1002 is Event Recording / Detects Sound.  Someone will need to run thru the app comparing the PID returns to get the rest.

[2020-07-13 18:03] dimmanramone commented on #48
@jfarmer08 @JoshuaMulliken

Great. Maybe we can even get a service in the integration that we can post to the API PID values and deviceId to turn these kind of settings or on off?

[2020-07-13 18:45] dimmanramone opened #68 "[Question] Device id has the same value for everyone using the integration"
I was looking into the code and I realise that everyone that is using this integration, have the same device id (guid).

Any particular reason that it is a hard coded value?

[2020-07-13 20:39] JoshuaMulliken commented on #68
It is one that works that isn't associated with my phone 🤷

[2020-07-13 20:39] #68 closed

[2020-07-14 12:05] dimmanramone commented on #68
@JoshuaMulliken How do you get your own mobile device_id? Is there anyway? If it is a simple way then maybe device_id can be changed to a variable instead.

[2020-07-14 14:55] JoshuaMulliken commented on #68
@dimmanramone It could be changed. You have to MITM your connection between your phone and the wyze servers to find it. I have not seen any downsides to people sharing this id other than possibly polluting their internal analytics.

[2020-07-14 18:28] dimmanramone commented on #68
@JoshuaMulliken I did try with wireshark but no luck there I couldn't find my device id :/ Even if there are not any downsides having a unique personal device id, it just feels better to do so :)

[2020-07-14 19:25] jfarmer08 commented on #68
You can use Fildder with a proxy to get the info you are looking for although I agree with @JoshuaMulliken about not changing it. One down side is Wyze could block you thinking it's spam with HA hitting the api. We don't make the calls in the same way as wyze does so even if you do change the key they still now it's not the official Wyze app requesting this info. Same goes for this key it could be

[2020-07-14 19:27] JoshuaMulliken commented on #68
You cannot do that with Wireshark. It uses https so you need to use an intercepting proxy like burpsuite, fiddler or mitmproxy.

[2020-07-18 02:16] dorgan opened #69 "[Feature Request] Motion Sensor Last Motion"
Would be great to have sensor that tell you how long ago the last motion occurred.

This would allow for things such as sustained motion automations or no motion for a period of time automations.

[2020-07-21 11:49] vincesima commented on #64
Also have a Wyze Lock/HA Setup and am a developer, would also be available for help/testing. As current, only reporting status on HA restart, and cannot lock/unlock. I have also had it connecting thru ZHA, which was able to lock/unlock but won't report state.

[2020-07-23 14:04] jfarmer08 commented on #64
@JoshuaMulliken @vincesima
Maybe someone can add support for ZHA in the lock/unlock commands in WyzeAPI. Since they can control it and we can see the status.

[2020-07-23 15:20] fabriba commented on #48
@JoshuaMulliken
I don't particularly need  the RTSP feature at this stage and I'd rather stay on a better maintained firmware, but I would like the ability to trigger automations on home assistant when my wyzecam detects motion (or ideally when it detects people). Can I get those from the API without moving to RTSP firmware?

[2020-07-23 22:23] #69 closed

[2020-07-27 19:26] JoshuaMulliken commented on #69
I think that this exists in HA.

[2020-08-01 13:30] bmcclure commented on #37
While I can understand your position, supporting cameras would be really nice. Wyze is adding more features into their mainline firmware that they are not, at least at this time, adding into the RSTP firmware. So using RSTP streams is not really a good replacement for accessing the camera streams via API.

The alternative, which many people are doing currently, is using TinyCam or another camera s

[2020-08-03 21:29] skylark332 opened #70 "intergration and platforms could not be set up"
I have installed the repository and added the below config to yaml but when i restart HA I keep getting a notification that the wyzeapi could not be setup? Is the below config off?

wyzeapi:
  username: "wyze email"
  password: "wyze PW"

[2020-08-03 22:50] Ryan911199 commented on #70
I have a similar problem, I can't get mine to show up at all. I installed the repository and it seemed fine, but I have plugged in the TX (little USB box) and my home assistant release won't find it. it just keeps blinking blue and yellow no matter what I do.

[2020-08-03 23:41] Ryan911199 commented on #70
also make sure you have a wyze account set up with that login before hand.

[2020-08-04 13:49] JoshuaMulliken commented on #70
@skylark332 Can you send us your debug logs? instructions are in the readme: https://github.com/JoshuaMulliken/ha-wyzeapi

[2020-08-06 01:51] edcous opened #71 "Lock and Unlock Support"
**Is your feature request related to a problem? Please describe.**

Is lock and unlock support planned for the API?

[2020-08-07 02:12] wootwoot1234 commented on #71
I’m interested in this too

[2020-08-13 14:19] joseabelsalcedo opened #72 "[Bug] Wyze Switch status not updating"
When the status of a Wyze Switch is changed using the Wyze App (or any other external source to HA) the entity's state is not updated. If the state is changed using Lovelace the update is immediate.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Lovelace's dashboard in which there is a button or entity of the switch.
2. With the component's log set to DEBUG, change the status of the

[2020-08-13 22:04] JoshuaMulliken commented on #72
Yes since this is a cloud integration the status will not be immediately updated if it is changed outside of home assistant. If you wait it will figure it out but it will not know immediately.

This is a known problem with integrations that do cloud pull.

[2020-08-13 22:06] JoshuaMulliken commented on #71
It is not currently working and none of the contributors who have locks were able to get this working.

I am not planning on acquiring a lock in order to do this work.

[2020-08-13 22:06] #71 closed

[2020-08-13 22:06] JoshuaMulliken commented on #70
I will be closing this issue as it seems to be stale. If you come back with the logs as requested please create a new issue.

[2020-08-13 22:06] #70 closed

[2020-08-14 20:49] JustCallMeCrash opened #73 "Devices don't show up in Automations"
Trying to automate some of my Wyze devices, but they don't show up in the list when I try to automate them.  I have 8 Wyze bulbs and 4 Wyze plugs, they all show up on Lovelace, but aren't available for automations.

[2020-08-17 14:27] JoshuaMulliken commented on #73
They are called entities. To use them in automations you have to call the light service and target the entity with the light.on

![Adding Entity to Automation](https://i.imgur.com/BCwqhMp.png)

[2020-08-17 14:27] #73 closed

[2020-08-17 15:00] JustCallMeCrash commented on #73
Oh, man!  Thank you - I had been beating my head against this.

On Mon, Aug 17, 2020 at 10:28 AM Joshua Mulliken <notifications@github.com>
wrote:

[2020-08-18 01:38] JoshuaMulliken commented on #64
I disabled the lock and unlock and set the system to give the user a notification if they try to use the lock and unlock. If you want to try this out for me then please use the master branch. I am going to be publishing a beta with this soon.

[2020-08-18 01:40] JoshuaMulliken commented on #48
I don't think so because it would have to be constantly polling the server. This would be a major issue for performance and might be considered bad behavior by WyzeLabs.

[2020-08-18 01:43] JoshuaMulliken commented on #73
@JustCallMeCrash no worries!

[2020-08-18 02:01] JoshuaMulliken commented on #48
@fabriba A solution might be to use IFTTT. Wyze can push through ifttt to a webhook in homeassistant if a camera detects motion.

![image](https://user-images.githubusercontent.com/36283247/90461791-3f20ee00-e0d5-11ea-9bcd-4ee746a3cdaa.png)

[2020-08-18 06:38] Mincka commented on #48
The component is already polling the API on a regular basis so I don't think it could be an issue with the default polling.
IFTTT is known to be unreliable. I am not expecting "real time" events from this feature since the events for cameras only appear when the capture is complete so at least 15 seconds after the event.

I didn't have to much time to work on it (and dev setup took me a while sinc

[2020-08-18 18:32] uzegonemad commented on #72
@JoshuaMulliken I'm experiencing this issue as well.

I tried two scenarios:
1. Turn on via Alexa voice command
2. Turn on via Wyze app

In both scenarios, I waited over 20 minutes and the status didn't update inside Home Assistant.

The status did change after I restarted HA.

All of my wyze sensors & bulbs update within a reasonable amount of time. Is it possible that switch status isn't polling

[2020-08-18 20:17] JoshuaMulliken commented on #48
@Mincka when you have the code I would love to help with the pull request

[2020-08-18 20:17] JoshuaMulliken commented on #72
@uzegonemad I can check it out

[2020-08-23 19:53] JoshuaMulliken commented on #72
@uzegonemad I did not see anything different from how the others are working. I am not sure what is happening in your case. I do not have a switch so I cannot do any tests.

[2020-08-23 20:18] joseabelsalcedo commented on #72
Hey @JoshuaMulliken  since you can't do tests without a switch, let me know if you think of something that one of us can test. I understand the Cloud Polling behavior but the thing is that unlike the light and sensors the status of the switch is not updated after the polling time.

[2020-08-23 21:50] JoshuaMulliken commented on #72
@joseabelsalcedo, @uzegonemad Actually I think I found an issue with the switch integration!

I am going to publish a beta in a few minutes so if ya'll could try that out then let me know

[2020-08-23 21:56] JoshuaMulliken commented on #64
@everyone the beta is now avaliable

[2020-08-25 00:46] joseabelsalcedo commented on #72
Hi, so I tried to install the latest beta ( version v0.5.1-beta.1 ) but it gives an error:

`2020-08-24 20:33:27 ERROR (MainThread) [homeassistant.setup] Setup failed for wyzeapi: Unable to import component: cannot import name 'WyzeApi' from partially initialized module 'custom_components.wyzeapi.wyzeapi.wyzeapi' (most likely due to a circular import) (/config/custom_components/wyzeapi/wyzeapi/wyz

[2020-08-25 01:43] jscherry commented on #72
I also got the same error as above after updating to the most recent beta so I installed the regular version 5 and everything is working again. How do I get rid of the update message in HACS if I don't want to update to a beta? Error from beta was:ERROR (MainThread) [homeassistant.setup] Setup failed for wyzeapi: Unable to import component: cannot import name 'WyzeApi' from partially initialized m

[2020-08-25 19:26] JoshuaMulliken commented on #72
@everyone I pulled that release. I'll try to get it up and working.

[2020-08-26 00:10] JoshuaMulliken commented on #72
@everyone beta 2 is now available. Hopefully this goes better 😭

[2020-08-26 01:22] joseabelsalcedo commented on #72
@JoshuaMulliken so far everything is working as expected, tomorrow I'll do some more tests. Top job!!

[2020-08-28 00:46] JoshuaMulliken commented on #64
I would actually recommend creating a template lock if you want to get the status of the door with this integration and do the control using ZHA: [https://www.home-assistant.io/integrations/lock.template/](https://www.home-assistant.io/integrations/lock.template/)

[2020-08-28 01:28] #64 closed

[2020-08-28 15:36] joseabelsalcedo commented on #72
Hi @JoshuaMulliken

From my point of view the bug can be closed. After your last change the switch's status is refreshing as expected. Thanks for the fix.

[2020-08-28 16:45] JoshuaMulliken commented on #72
Great thank you!

[2020-08-29 21:55] zsarnett opened #76 "[Bug] Wyze Lock state is reversed"
**Describe the bug**

When the Wyze Lock is `Locked`, in HA the Lock shows as `Unlocked` and When `Unlocked` the HA entity shows as `Locked`

**To Reproduce**
Steps to reproduce the behavior:
1. Lock and Unlock Wyze lock from application
2. Watch the state of HA entity show reversed state

**Expected behavior**

To no be reversed :)

**System configuration**

arch | x86_64
-- | --
chassis | deskto

[2020-08-29 21:56] zsarnett commented on #76
I have uninstalled the Integration Via HACS and re-installed. Same output. If you need more information I am happy to get it to you. I didn't see any errors in the logs

[2020-08-30 01:08] uzegonemad commented on #72
@JoshuaMulliken I also wanted to confirm that this is now working as expected. Thank you so much for your work.

[2020-08-30 01:19] JoshuaMulliken commented on #76
@zsarnett I have just published a new release that should fix this issue! Thank you for your contribution.

[2020-08-30 01:19] #76 closed

[2020-08-30 03:21] zsarnett commented on #76
Incredible! That was so fast. Thank you very much. Works like a charm

[2020-08-30 03:23] onlinegill opened #77 "Keep getting error"
Keep getting

Log Details (ERROR)
Logger: homeassistant.components.binary_sensor
Source: custom_components/wyzeapi/wyzeapi/devices/base_sensor.py:27
Integration: Binary sensor (documentation, issues)
First occurred: 9:15:42 PM (2 occurrences)
Last logged: 9:15:42 PM

wyzeapi: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_plat

[2020-08-31 00:30] JoshuaMulliken commented on #77
Ok I just submitted a new release that should fix your problem! https://github.com/JoshuaMulliken/ha-wyzeapi/releases/tag/v0.5.3

[2020-08-31 00:30] #77 closed

[2020-08-31 00:35] onlinegill commented on #77
Thank you it working.

[2020-08-31 14:43] onlinegill opened #78 "[Bug] Not all sensors are working"
Running latest release but I see only 1 motion sensor status shows updating and other all shows closed. I can see them on wyze app that they are working otherwise I would think wyze server api is not updating.

[2020-08-31 19:46] fuzzyogic opened #79 "[Bug] v0.5.3 typo in switch.py available spelled as avaliable stops switches from working"
**Describe the bug**
Typo in below sections:
  Section 1:
    custom_components\wyzeapi\switch.py
    line 65
      current:
        return self.__switch.avaliable
      fix:
        return self.__switch.available

  Section 2:
    custom_components\wyzeapi\wyzeapi\devices\switch.py
    line 9:
      current:
        avaliable: int
      fix:
        available: int
    line 30:
      current:

[2020-08-31 23:12] 1h8fulkat opened #80 "[Bug]"
**Describe the bug**
Upgraded the integration and now I can't control my switches.

**System configuration**
System: HASS OS
HA Version: 0.114.3
WyzeApi Version: v0.5.3

**home-assistant.log**

[code]

[2020-09-01 00:55] hockey6611 commented on #80
I have the same error. Seems to be related to #79 as well.

[2020-09-01 01:20] ha20 commented on #79
Also line 65 in /config/custom_components/wyzeapi/switch.py

[2020-09-01 09:20] mistersidd23 commented on #78
Having the same issue since last update.  I have motion and door sensors, but only motion affected for me.

[2020-09-01 12:31] #80 closed

[2020-09-01 12:31] 1h8fulkat commented on #80
This is a duplicate of Issue #79

[2020-09-01 13:23] 1h8fulkat commented on #79
Confirmed the above edits resolve this issue.

[2020-09-01 17:47] fortwally commented on #79
Confirmed the above edits resolve this issue.

[2020-09-01 20:29] rugene76 commented on #78
I just updated to .53 and am experiencing some issues:

Here's the reported parameters for one of the new sensors:
state        false
available  true
mac         779027A7
battery level  89
rssi      32
device model     DWS3U
last action     2020-09-01T19:52:02+00:00

[2020-09-01 21:07] JoshuaMulliken commented on #79
Thank you everyone! I have published a new release that fixes this problem

[2020-09-01 21:07] #79 closed

[2020-09-01 21:08] rugene76 commented on #78
Here's some more data from the log related to the wyze switches and lock:

switch related:
wyzeapi: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 335, in _async_add_entity
    await entity.async_device_update(warning=False)
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 454, in async_

[2020-09-01 21:09] JoshuaMulliken commented on #78
@rugene76 that is super useful thank you! This seems to be related to #79

[2020-09-01 21:15] JoshuaMulliken commented on #78
@onlinegill can you give more information. Just the other day v0.5.3 was working for you?

Thank you @rugene76 I have updated the lock and the switch code. v0.5.5 is available to download

[2020-09-01 21:22] onlinegill commented on #78
When you updated than I was able to see motion sensors which were missing but than I note none of sensors are getting updated. All stays in close condition. I try to reinstall api multiple times but no luck.

[2020-09-01 21:26] rugene76 commented on #78
Hi Joshua! Thanks for all the fine work you are doing! I wish Wyze would officially support your work….. Here’s what I see: available is misspelled in a few places. In both lock.py and switch.py:@property    def available(self):        """Return the connection status of this switch"""        return self.__switch.avaliable  hope that helps Gene  From: Joshua MullikenSent: Tuesday, September 1, 2020

[2020-09-01 21:46] rugene76 commented on #78
just downloaded and tested the code - lock.py still has the misspelling

[2020-09-01 22:37] JoshuaMulliken commented on #78
Ok v0.5.6 should have fixed the misspellings on the lock. I do not know what is happening with the sensors.

[2020-09-01 22:37] JoshuaMulliken commented on #78
@rugene76 are there any logs for the sensors?

[2020-09-01 22:38] JoshuaMulliken commented on #78
They should be polling every five seconds.

[2020-09-02 15:39] rugene76 commented on #78
I continue to have the issue that the sensor's state is not updating, so here's some more info that might be helpful:
-I'm at the latest HA environment on a Raspberry PI 4
-Running wyzeapi ver.  .56 installed with hacs
-I have 1 lock (soon to be 5) , 4 lights, 5 cameras, 1 scale, 2 switches, 7 contact sensors, 2 motion sensors
-I also have the latest wysesense integrations with 3 sensors connected

[2020-09-02 16:11] rugene76 commented on #78
more info:
I changed the polling on the binary_sensor to 30 sec - no improvement.

I've noticed when checking the sensor entity parameters that the reported sensor state (bar) does not match the "open" sensor state  This behavior is inconsistent across the sensors.

![image](https://user-images.githubusercontent.com/60796202/92008557-f12efb80-ed0c-11ea-8682-a6e5937233d2.png)

[2020-09-03 00:15] lazzerbeam opened #81 "Wyze lamp does not respond to HA commands or automation"
[WyzeApi_failed_light_control_HA.txt](https://github.com/JoshuaMulliken/ha-wyzeapi/files/5165404/WyzeApi_failed_light_control_HA.txt)

Hello,
The lamp worked initially after integration. But now, light seems to not respond to HA turn_on/off service or even direct toggles.
Guessing issue is with the Wyze server not capturing HA requests. Control from the WYZE app works without an issue.
Please see

[2020-09-03 01:37] JoshuaMulliken commented on #81
You are running an old version of the integration. Please update and then provide new debug logs. The latest is v0.5.6 you are running v0.5.1

[2020-09-03 01:39] JoshuaMulliken commented on #78
Hmm. I do not know what is happening... There isn't much here to go on. From your screenshot and log it looks like everything is working.

[2020-09-03 02:01] JoshuaMulliken commented on #78
I am going to look into this tomorrow. There is something going on in the update logic I bet. I'll put some more logging and see if I can figure it out

[2020-09-03 14:50] #81 closed

[2020-09-03 14:51] JoshuaMulliken commented on #78
Ok great news! I found some problems in my update code!! @everyone I will be pushing a new update in a few minutes.

[2020-09-03 14:54] JoshuaMulliken commented on #78
@rugene76 @onlinegill A new update is available. It should work now!

[2020-09-03 15:10] onlinegill commented on #78
Thanks I will check.

[2020-09-03 15:56] JoshuaMulliken commented on #78
Great @onlinegill. Thank you for your help and issue submissions.

[2020-09-03 16:14] onlinegill commented on #78
No problem do know what was wrong ? I was banging  my head as i use this api for for HA alarm system and temporary i was able to workaround by setting up getting webhook request from wyze through IFTTT than trigger alarm.

[2020-09-03 17:52] rugene76 commented on #78
I just tried the latest - seems to be working - well done. Thank you.
I've got 2 motion sensors and 7 contact sensors that are responding as expected. My lock is also reporting correctly. I'd suggest changing the lock status to read "locked" and "unlocked". The current states imply action.
Anyway, thanks for all your efforts.

[2020-09-04 01:02] lazzerbeam commented on #81
working after the update. Installed in manually. Thanks!

[2020-09-10 21:26] IIAIronWolf opened #82 "[Bug]"
**Describe the bug**

After failing multiple times to setup the HomeKit integration, I believe the issue was being caused by the wyzeapi, due to the associated errors in my logs, which occurred everytime I tried to setup HomeKit.
The weird part is, however, that I no longer have the ha-wyzeapi integration installed. In fact, I haven't had it installed in a long time. There is not reference to this

[2020-09-11 16:35] IIAIronWolf commented on #82
Fixed my particular issue in: https://github.com/home-assistant/core/pull/39918

However, please update this integration to fully remove itself and all its traces when uninstalling via the HACS Integrations page.

[2020-09-12 04:35] #82 closed

[2020-09-12 04:35] JoshuaMulliken commented on #82
As it appears this is not a bug with this integration I am closing

[2020-09-12 14:54] IIAIronWolf commented on #82
The bug is with wyzeapi @JoshuaMulliken ...
If my home assistant server is to calling out wyzeapi errors and I haven't had that integration installed for months, then something is wrong. I uninstalled it using the HACS integration page long before ever trying to install HomeKit. Why would it still be saying it can't find wyzeapi?

Also, per HomeAssistant/core rules, I cannot create an issue becaus

[2020-09-12 14:55] JoshuaMulliken commented on #82
From my perspective it is a HACS issue because integrations do not handle there own uninstallation.

[2020-09-12 14:57] JoshuaMulliken commented on #82
I can use HomeKit with this integration just fine. Please file with HACS or manually attempt to delete the files from the custom_components directory

[2020-09-12 14:57] IIAIronWolf commented on #82
Why would my other uninstalled integrations _not_ show up in the HomeKit installation failure logs then?
Suppose I'll have to talk to HACS...

[2020-09-12 14:59] IIAIronWolf commented on #82
Well if I had it installed, it would work fine. However, I don't have it, which is the problem outlined here.
This has been fixed by the HomeKit dev, thankfully. Missing integrations not longer cause HomeKit setup to fail.
And there is no trace of this integration in my custom_components or anywhere else that I could find in the file system.
Opening yet another issue with HACS.

[2020-09-17 03:03] #56 closed

[2020-09-23 15:21] dinan5 opened #85 "[Bug] Unable to find any devices + (Switch) Slider reverts to wrong setting after turning on/off"
**Describe the bug**
1. 2020-09-22 18:06:50 ERROR (MainThread) [custom_components.wyzeapi] WyzeApi authenticated but could not find any devices.  **I have 6 entities online and controllable, but I get this message.**
2. Wyze Switches, turn on and off properly, but the slider reverts back to off, when its turned on - and vice-versa.  After the second "slide" the slider is correct and matches switch

[2020-09-23 15:24] dinan5 commented on #85
Running 5.10.1 beta code

[2020-09-23 16:52] JoshuaMulliken commented on #85
Hmm, that is interesting. I have gotten lots of support recently and will be ordering a switch in the next few days so I can check this out.

[2020-09-23 17:13] dinan5 commented on #85
Happy to help you in any way I can. this is great work that you've done.  Thank you.

________________________________
From: Joshua Mulliken <notifications@github.com>
Sent: Wednesday, September 23, 2020 12:52
To: JoshuaMulliken/ha-wyzeapi <ha-wyzeapi@noreply.github.com>
Cc: dinan5 <dinan5@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [JoshuaMulliken/ha-wyzeapi] Two Defects To Inve

[2020-09-28 21:50] JoshuaMulliken commented on #85
Hey, @dinan5 I have fixed the issue with the switch. My pack came in today so it was money well spent from my supporters! If you download v0.5.11 you should see that it is now working!

[2020-09-28 23:34] dinan5 commented on #85
Almost there! The issue persists when you toggle them off, sorry!

[2020-09-29 21:22] whwar9739 opened #86 "Smooth Transition of light from x to y percent"
I was wondering if the wyzeapi supports the light transition option at all, or if wyze bulbs are even capable of this option.
I would like to be able to setup node-red automations for sunrise like effect and slowly fade the lights up over a given period of time.
Thanks!

[2020-09-29 23:12] JoshuaMulliken commented on #86
Not to my knowledge unfortunately. Sorry!

[2020-09-29 23:13] #86 closed

[2020-09-30 16:51] dinan5 commented on #85
5.12 fixes it, Bravo!

[2020-09-30 16:51] #85 closed

[2020-10-06 18:35] JOHLC opened #87 "[Feature Request] Wyze Thermostat"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add support for the upcoming Wyze Thermostat https://wyze.com/wyze-thermostat.html

**Describe alternatives you've considered**
Nest

**Additional context**
https://support.wyzecam.com/hc/en-us/articles/360049453252-Introducing-Wyze-Thermostat
https://wyze.com/wyze-thermostat.html
https://su

[2020-10-08 16:26] JoshuaMulliken commented on #87
Hello, @JOHLC support may come once it is released but I will not be purchasing one because I am renting so I will need help from contributors in order to implement this. We need to know what API calls are made to the application and what properties are shown by the application.

Beta testers will also be needed to get this tested and working

[2020-10-09 16:37] JOHLC commented on #87
Thanks for your feedback! I am also renting but just don't care ;)

The release is still a ways out, but I still may or may not purchase one depending.

Thanks for your time and effort

[2020-10-09 22:41] bed428 opened #88 "[Bug] MFA Causes Invalid Config error."
**Describe the bug**
If you have MFA enabled on your account, it causes the following error.

Invalid config
The following integrations and platforms could not be set up:
 - wyzeapi
Please check your config

**To Reproduce**
1. Enable MFA on your Wyze account, try to login.

Turned off two-step verification.
Verified working.

Not sure what the solution would be - just wanted to make everyone awar

[2020-10-10 01:02] JoshuaMulliken commented on #88
Yes this is explicitly stated in the readme.

[2020-10-10 01:02] #88 closed

[2020-10-12 22:00] pbanj opened #89 "[Bug] not able to add to home assistant add on store "Not a valid add-on repository""
the error
![image](https://user-images.githubusercontent.com/17306233/95793906-a95ca600-0cb4-11eb-8822-c91b86ebed0c.png)

my home assistant info
![image](https://user-images.githubusercontent.com/17306233/95793966-cc875580-0cb4-11eb-9fe1-e6056b24285b.png)

[2020-10-13 18:22] JoshuaMulliken commented on #89
I need more details. Are you trying to add this to HACS?

[2020-10-14 18:17] oliviercar0n commented on #89
same issue here

[2020-10-14 22:39] JoshuaMulliken commented on #89
This integration is not an add on and will not work in this way. Please read the readme for instructions on adding the repo to the Home Assistant Community Store

[2020-10-17 22:46] bjs-pdx opened #90 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
Setup clarification....

wyzeapi:
  username: <email for wyze>
  password: <password for wyze>
  sensors: false
  light: false
  switch: false
  lock: false

Documentation is unclear.  Does false mean ignore the item?  Would true include them?

[2020-10-18 17:45] JoshuaMulliken commented on #90
Yes that is correct

[2020-10-18 17:46] JoshuaMulliken commented on #90
If you don't include an entry it will include it by default

[2020-10-18 18:18] #90 closed

[2020-10-19 17:03] ShadowsDemise opened #91 "[Bug] Invalid config after update"
After updating WyzeApi to v0.5.12 I now get an invalid config notification when Home Assistant starts even though WyzeApi was working before the update

The notification

[code]

**System configuration**
System: Home Assistant installed on DietPi
HA Version: v0.105.3
WyzeApi Version: v0.5.12

**configuration.yaml**
[code]

**home-assistant.log**
[code]

[2020-10-23 01:23] JoshuaMulliken commented on #91
Hey @ShadowsDemise can you please update your Home Assistant instance. The current latest version is 0.116. WyzeApi relies on api's from the Home Assistant libraries and they made a change to some of them between the version you have installed and the current version.

[2020-10-25 18:10] #91 closed

[2020-10-28 14:16] patrickkamin opened #92 "Lock/Unlock support for Wyze Lock"
Hi,
First of all, thanks for this wonderful project to support Wyze Devices.

I was wondering about the statement made in the Readme that lock/unlock isn't supported at the moment.

Is that because the Wyze API doesn't support it or is it just not yet implemented?

Thanks in advance

[2020-10-30 06:03] ikrowni opened #93 "[Feature Request] Wyze Scale"
Possible to add the wyze scale to this component?

[2020-10-31 02:01] JoshuaMulliken commented on #92
Hey @patrickkamin, thank you for the kind words. Unfortunately, the API cannot lock and unlock the device at least from what I have been told by my contributors.

I have heard some people have success using this project in combination with ZHA to lock and unlock the device. They use a template lock to get the status of the door from this integration and do the control from ZHA.

I wish I could do

[2020-10-31 02:01] #92 closed

[2020-10-31 02:02] JoshuaMulliken commented on #93
I do not have one so I cannot capture the data required to integrate it. I would happily accept pull requests!!

[2020-10-31 03:03] ikrowni commented on #93
Okay I just ordered one last night. If you or someone else wants to help me figure out what I need to get for you to add it I'm on board to help.

[2020-11-01 21:20] CoryBailly commented on #39
Any update on this?

[2020-11-03 23:48] bed428 commented on #39
It wouldn't be as big of a deal if Wyze had login alerts, devices logged in, security logs, etc. Sucks having to disable 2FA though with none of the previous protections in place. I'm hoping the Wyze comes out with some of those features.

[2020-11-06 00:42] LordNex commented on #89
I was able to add it to HACS but the install button is grayed out. I checked my logs but don't see anything at the moment related to this plugin.

For the record, I have 4 pan cams and 1 Outdoor can with base station. I have a Wyze lock coming next week and am really looking forward to getting it integrated into HA.

I have some other questions regarding integration and implementation but I'll sav

[2020-11-06 00:45] LordNex commented on #48
I would love if you could get native support for Wyze cams in HA. I can bring any RTSP camera in and they have a beta firmware. But cameras like the Outdoor Cam cannot support RSTP due to the nature of the API and battery usage. But if you could pull the cameras directly from the Wyze api that would be sweet. Really I don't understand why Wyze doesn't open up thier code a bit more. I would guess t

[2020-11-06 00:52] LordNex commented on #48
I'm currently doing this with thier outdoor cam. I'm basically doing a webhook call and monitoring the ifttt_webhook_received event. When that occurs I have it set to send a tts to my Google speakers. Then send a push notification to our iPhones. The problem is though that I can't get an image or video support for the outdoor cams. The pan cams with the rstp firmware work perfect though and I can

[2020-11-06 11:16] davidlang42 opened #94 "[Bug] Failed to connect to Wyze service"
Wyze sensors stopped updating in the last 2-3 days, now on restart the service fails to set up with the message "Failed to connect to Wyze Service"

Logger: homeassistant.components.light
Source: custom_components/wyzeapi/wyzeapi/client.py:78
Integration: Light (documentation, issues)
First occurred: 22:10:49 (1 occurrences)
Last logged: 22:10:49

Error while setting up wyzeapi platform for light

[2020-11-06 11:21] 1h8fulkat commented on #94
Same issue on 117.4.  It started last night between 9:30pm-6am EST

[2020-11-06 11:28] davidlang42 commented on #94
I opened the Wyze app manually and it asked me to log in, may or may not be related.

[2020-11-06 11:30] davidlang42 commented on #94
Looking at the play store (Android) it seems the current app version is 2.14.35 (updated 20th October, ~2 weeks ago).
I noticed in the log that the request states it is app version is 2.6.62, perhaps that version is no longer supported by the api?

[2020-11-06 13:32] 1h8fulkat commented on #94
My app is the current version.  Getting the following errors

`2020-11-06 06:19:07 ERROR (MainThread) [homeassistant.components.light] Error while setting up wyzeapi platform for light
Traceback (most recent call last):
File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 197, in _async_setup_platform
await asyncio.shield(task)
File "/config/custom_components/wyzeapi/light.

[2020-11-06 15:58] 1h8fulkat commented on #94
This resolved itself this morning.  I think it was a Wyze API outage for a brief period.

[2020-11-06 16:30] #94 closed

[2020-11-07 02:07] JoshuaMulliken commented on #39
This is not coming anytime soon. There is not a reliable way to refresh the access token at the moment so every time the access token expired which is every 3 or so days you would have to login again and enter a new 2fa code.

This is not a workable solution but once there is a way to do that then the plan is to provide a way through the UI to provide the 2fa code and be notified when it is requir

[2020-11-09 12:28] VajraCool opened #95 "[Feature Request] make it local like wyze sense"
I am about to try this, but I am wondering as we are giving username and pwd of wyze, this is not local . can it make local like wyze sense?
**Wyze sense canbe done local using this repo https://github.com/kevinvincent/ha-wyzesense**

[2020-11-10 01:55] JoshuaMulliken commented on #95
This is not possible. This integration is cloud-connected and unfortunately, it is currently not possible to connect to the various wyze devices such as the switch and the bulbs locally.

[2020-11-10 01:55] #95 closed

[2020-11-12 20:51] ikrowni commented on #93
Just received the scale. Not sure what I need to provide for you and how I go about getting it.

[2020-11-15 07:39] yfaber opened #96 "Wyze sensors"
I’m moving away from wyzesense, do I need to plug the usb bridge back into the cam or just keep it on the RPI?

Also, do we have any updates on the lock features?

[2020-11-16 18:54] JoshuaMulliken commented on #96
You need to use it in the cam so that it is available from the cloud API.

Please check the lock thread for updates #92

[2020-11-16 18:54] #96 closed

[2020-11-19 01:45] JoshuaMulliken commented on #93
You will need to use an HTTPS interception application and use it to capture the API requests between the phone app and the server while you are manipulating the scale and utilizing all of its functions. Once you have done that you can send that data to me at josh.mulliken at hey dot com with each request that corresponds to each action labeled. I can use this to understand how the app interacts w

[2020-11-19 04:10] ikrowni commented on #93
Thanks I will get to work on that asap. Are there any certain programs you would recommend for capturing the requests?

[2020-11-19 06:11] LordNex commented on #48
Could you explain if anything needs to be done to add this to HA and try? I have the master installed under HACS but I didn’t know if I needed to add this as a custom HACS repository or if it had been merged yet. I currently have 4 Pan Cams on RSTP and one Outdoor Cam that I would love to use this with.

Ultimately I’d prefer to leave the rstp and go back to standard firmware. Not to mention I wou

[2020-11-19 06:33] LordNex commented on #87
I’m also looking at getting one of these. I own my house and it’s fully kitted. Actually building new 6 in 1 NodeMCU multi sensors this weekend that will come in handy later.

Once I get one and setup I’ll let you know, then just walk me through what you need me to gather. I’m not a full time programmer but I’ve been in the IT Networking field for over 20 years so I’m sure I can figure out how to

[2020-11-19 11:55] LordNex commented on #92
Would there be anything I could do or assist with to attempt to get this to function? It would seem that there should be an allowed called to the API for lock/unlock. I only say this because I'm pretty sure you can lock and unlock with Google Home once you add the Service to your home account and set the appropriate PIN. I also wonder if it couldn't be implemented in a minor way by utilizing the g

[2020-11-19 12:08] LordNex commented on #29
@jfarmer08 Were you ever able to get the proper API post to the Wyze MQTT broker figured out? It looks like you guys figured out a way to get the lock and unlock to work here but it's disabled. I'm a pretty competent tech. If you could just direct me to what code I need to grab it would be greatly appreciated. I'm currently just running the latest release in HACS

[2020-11-22 00:01] JoshuaMulliken commented on #93
MITMProxy works well or Burp suite

[2020-11-23 16:45] Lukejb14 commented on #87
When my preorder gets here, let me know anything I can provide to you.

[2020-11-23 17:58] JoshuaMulliken commented on #92
I am really not sure. I don't have one so I don't even know where to start. I can help with development but I am not highly motivated to work on this because I cannot make use of it personally. Support for this will have to come from someone who can test and develop for this.

I have heard of people using a template lock to combine the data that the API provides and use ZHA to do the actual lockin

[2020-11-28 22:45] bjs-pdx opened #97 "Name Changes of Wyze Devices"
I've used the Wyze application to do two things:  Changed a contact sensor name;  removed and added back a motion sensor with a different name.  In HomeAssitant the names remain unchanged.  How can I force the names to update?

[2020-12-02 05:07] FattySparks opened #98 "[Feature Request] Assign entities to devices so they can be attached to areas"
I'd like to be able to add my devices to the areas that I have set up for my home. Since the objects are brought in as entities instead of devices, this option isn't available

[2020-12-02 06:27] oliverkurth commented on #73
Can we have this documented? It took me some time figure this out. It's counterintuitive, because this is very different to the kasa switches/plugs which I had already working. I was assuming it would be the same.

Actually I created a workaround by editing the yaml like this (copied from the kasa switches and using a random id):
[code]
I was going to file a bug, but found this issue when searchin

[2020-12-02 14:24] JoshuaMulliken commented on #97
Go to the entities page in configuration and change the entity id or the name
![image](https://user-images.githubusercontent.com/36283247/100885004-27048d00-3480-11eb-9b23-834dcef1babf.png)

[2020-12-02 14:24] #97 closed

[2020-12-17 20:55] rbees opened #99 "wyze plugs not sowing up in HA for automations"
First Thank this integration.

I have four Wyze plugs.  They work fine in Lovelace, toggles and control all work as expected.  But I am unable to add them to automations as they don't show up in the devices list.

Config > Entities : Wyze plug shows in the list

Config > Devices :  Wyze plug Does Not show

I gather this why I am not able to access them in the automations.

The plugs I have are
Mod

[2020-12-17 22:22] LordNex commented on #99
For an automation, you need to call a service to activate the entity. Try using "Call Service" and "switch.turn_on and switch.turn_off" with your respective entities. That should do the trick. If your still having issues, let me know and I'll share a blueprint or something.

[2020-12-17 22:32] LordNex commented on #92
Lately it doesn't seem like the API updates anymore for the lock. It will update its current status on a restart of HA. But doesn't seem to poll the server for any state changes anymore.

Also, any idea on what template they were using? For a while I had my system set to sync my ZHA system with the API so that in case some one opens the lock with the keypad, app, or manually, it would also update

[2020-12-17 23:51] rbees commented on #99
Thank you

[2020-12-19 03:34] yfaber opened #100 "Lock updates?"
Hey guys, sorry to keep bugging about this... i just wanted to know if there's an update on the lock.

[2020-12-19 09:03] ThumpWump opened #101 "[Bug] Error on device update - switches work, but not bulbs"
Looking forward to using this integration with the bulbs. Not having luck trying to resolve the following error message. The switches connect just fine, but the bulbs aren’t being detected.
Running version: v0.5.12

2020-12-19 02:50:24 DEBUG (MainThread) [custom_components.wyzeapi] Connected to Wyze account
2020-12-19 02:50:24 DEBUG (MainThread) [custom_components.wyzeapi] Starting WyzeApi compone

[2020-12-19 17:25] mzelmanovich commented on #101
I am seeing the same thing for my contact sensors and now they do not use within the wyze app either

[2020-12-19 18:20] mzelmanovich commented on #101
Switched back to wyze sense and had no issues. I think this is some sort of rate limit on wyze end.

[2020-12-19 18:29] B-Kramer commented on #101
Seeing the same thing:

wyzeapi: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 359, in _async_add_entity
    await entity.async_device_update(warning=False)
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 466, in async_device_update
    await task
  File "/config/custom_components/wyze

[2020-12-19 18:48] mzelmanovich commented on #101
Can either of you still get updates within the wyze app and/or are you seeing odd delays?

[2020-12-19 20:24] B-Kramer commented on #101
Seeing some strange delays/desyncs right now.  I'm trying to ignore it and hoping it's on Wyze's side.

[2020-12-19 20:45] B-Kramer commented on #101
According to Wyze they are having issues today:
https://wyzelabs.zendesk.com/hc/en-us/articles/360015979872-Service-Status-Known-Issues

[2020-12-19 20:47] tdemelle opened #102 "Error on Device Update"
Have tried latest and latest beta.  getting error:

Logger: homeassistant.components.light
Source: custom_components/wyzeapi/wyzeapi/client.py:248
Integration: Light (documentation, issues)
First occurred: 3:42:10 PM (1 occurrences)
Last logged: 3:42:10 PM

wyzeapi: Error on device update!
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py",

[2020-12-19 22:47] mzelmanovich commented on #101
Thanks for the heads up. When I was having issues this morning they were
stating they were all clear. Is it just me or is wyze becoming less
reliable? That is not a reflection on this project which is amazing!

Mitchell Zelmanovich
856.254.5687
mzelmanovich@gmail.com
------------------------------

On Sat, Dec 19, 2020 at 3:45 PM Brian Kramer <notifications@github.com>
wrote:

[2020-12-19 23:47] AndrewLemons opened #103 "[Feature Request] Wyze Thermostat"
The Wyze Thermostat has just been released. I currently have one, and am looking for it to be supported by Home Assistant.

I'm not sure whether control of the thermostat is possible. However, I do know for sure that some of the sensors can be read from. Here are the properties mapped to their values (the ones I currently know about, at least)

| Property | Value |
|-|-|
| `P2602` | State `1 = Hom

[2020-12-20 06:13] #101 closed

[2020-12-21 13:30] jfarmer08 commented on #103
You need to get the full output from get_object_list before someone could add it.

You could also share the device and someone could open there app to get the result of get object.

[2020-12-21 16:34] yfaber commented on #103
Hey bud, have you had the chance to play with the lock anymore?

[2020-12-21 18:47] AndrewLemons commented on #103
Here ya' go.

[code]

[2020-12-23 02:37] yfaber commented on #29
have u been able to play with this?

[2020-12-23 04:27] LordNex commented on #29
I’d be happy to assist as well. I have 20 some odd years in IT and Networking. But I’m not as versed in python. But I have a pretty advanced setup and would be happy to help try and figure out what I can. I also have a DOA lock we can take apart if needed. Came that way brand new.

On Dec 22, 2020, at 8:37 PM, yfaber <notifications@github.com> wrote:

﻿

@jfarmer08<https://github.com/jfarmer08> We

[2020-12-23 15:32] flostingapplesauce commented on #93
If you are not comfortable with the Burp Suite, you might consider attacking this from a different angle. Search out the OpenScale repo, and read the little Wiki that explains how to reverse engineer a Bluetooth scale. This may allow more direct use of the scale, without a need for the cloud to be involved. You would be able to remove the Wyze app, and use the (vastly superior) OpenScale app inste

[2020-12-24 18:03] mattbilodeau opened #104 "[Bug] Brightness and Color don't persist turning the light on and off."
**Is your feature request related to a problem? Please describe.**

When you turn a light off and on, it doesn't keep the brightness and color temp settings it last had.

**Describe the solution you'd like**

could we some how store the last setting of the brightness and color temperature for the entity?

**Describe alternatives you've considered**

**Additional context**

[2020-12-25 01:09] jfarmer08 commented on #29
I was never able to add support for lock and unlock. If I had a lock I might be able to do more, but Since I don't this is all that I could do.

[2020-12-26 04:10] LordNex commented on #29
I was able to get it to work just pairing it with Zigbee. But the problem comes when someone uses the App, doesn’t normally happen, or the keypad, very common. Since it still technically goes through Wyze servers, Home Assistant doesn’t see that the state has changed. So I’m HA the door shows locked but is open and unlocked. I tried using your integration to at least just sync the status with Wyze

[2020-12-26 14:59] jfarmer08 commented on #29
I would try to pull down an older version of wyze api and see if the status works there. There could be an issue with it and not anything with wyze.

[2020-12-27 19:51] JoshuaMulliken commented on #92
@LordNex I think it might be somewhere in the issue history. I am not positive about what is happening with it not updating from the server. Do you know when it stopped working. Maybe a particular version number?

[2020-12-27 19:52] JoshuaMulliken commented on #99
It seems like this has been resolved so I will go ahead and close this issue.

[2020-12-27 19:52] #99 closed

[2020-12-27 19:54] JoshuaMulliken commented on #102
Thank you for the information! I will check on that

[2020-12-27 19:55] JoshuaMulliken commented on #101
@ThumpWump this was an issue with the Wyze servers and not this integration?

[2020-12-27 19:55] JoshuaMulliken commented on #102
@tdemelle apparently this was an issue with the Wyze servers and not this project is it working currently?

[2020-12-27 19:56] JoshuaMulliken commented on #103
Awesome I will work on this today! Thanks @AndrewLemons

[2020-12-27 19:58] JoshuaMulliken commented on #104
That is a great suggestion I will consider adding it to the backlog

[2020-12-27 20:00] JoshuaMulliken commented on #29
Yeah, like @jfarmer08 said it is hard to test the lock functionality between releases because I do not have one. @LordNex it would be great if you could find if there was a version of this integration where it worked so I can see if there is anything I can do to fix it

[2020-12-27 20:00] JoshuaMulliken commented on #100
No there is no update

[2020-12-27 20:00] #100 closed

[2020-12-27 20:03] JoshuaMulliken commented on #98
This is now officially supported in Home Assistant Core 2020.12!!!! https://www.home-assistant.io/blog/2020/12/13/release-202012/#assign-areas-to-entities-and-readable-area-ids

[2020-12-27 20:03] #98 closed

[2020-12-27 20:03] #89 closed

[2020-12-27 20:04] #103 closed

[2020-12-27 20:09] B-Kramer commented on #101
Yeah my issues resolved after Wyze servers returned to normal.

[2020-12-27 20:59] JoshuaMulliken commented on #87
Yall can follow the progress on this branch https://github.com/JoshuaMulliken/ha-wyzeapi/tree/implement-wyze-thermostat

[2020-12-27 22:32] JoshuaMulliken commented on #87
Discussion thread here: https://github.com/JoshuaMulliken/ha-wyzeapi/discussions/103

[2020-12-28 02:32] LordNex commented on #29
So far I’ve tried the latest public version and Beta 3. Neither of which seem to update the lock status at all. I don’t remember which version I had that worked. It was quite a while ago that I tried it but if I remember it was never very reliable so I pretty much rode it off until I did a migration off of the RPi and went to an i5 laptop. At this point I have a lot more IoT so I’m working on vari

[2020-12-28 04:14] LordNex commented on #29
Ok just reverted to 5.10 and rebooted and it still does not see the proper state of the lock. No matter what happens the state stays at "unlocked/false/off". So onLy version I haven't tried is 5.11

[2020-12-28 08:00] paulmorabito commented on #48
I'm coming to this a little late only having just gotten into HA and purchased a Wyze Cam Pan model. I agree that implementing RTSP via this is unnecessary and I have found that using MotionEye is great for integrating cameras into HA. Also, you can use Frigate for the motion and object detection though I have found my RPI4 struggles with it given it really needs a separate GPU/ML processor.

That

[2020-12-28 13:36] jfarmer08 commented on #29
@yfaber Are you seeing the same issue with your Lock not updating correctly in HA?

[2020-12-28 17:58] yfaber commented on #29
Not using the integration now

[2020-12-28 20:39] tdemelle commented on #102
Thanks for following up.  Yes, it’s working now. Sorry for the false alarm!

[2020-12-28 20:39] #102 closed

[2020-12-28 22:03] LordNex commented on #29
@yfaber yes I setup the lock through the app first including setting up the keypad. I then went into ZHA Discovery and then hit the pair button on the lock. ZHA discovered it and works flawlessly. And I can also use it through the app and keypad although the keypad goes through the app it seems. I haven't found a way to pair the keypad directly with HA yet.

But if anyone using the Wyze app to do

[2020-12-29 02:59] yfaber commented on #29
I'm a little confused, what states have u been polled trough ZHA?

[2020-12-30 16:27] JoshuaMulliken commented on #48
@paulmorabito It appears that it is already supported though the page you just showed? I don't think we should add support for any non stock Wyze devices to this integration as it might confuse some users.

[2021-01-03 08:01] paulmorabito commented on #48
@JoshuaMulliken That page is for alternative firmware that works for both Wyze and Xiaomi branded devices (with the reason being they are internally identical and made by the same supplier but with different branding and firmware). I agree it's not a good idea to support non Wyze devices. What I meant was this - If you use the alternative firmware then it is possible to have different sensors and

[2021-01-03 10:53] LordNex commented on #48
This is what thousands of people have been waiting for. If Wyze would just open up their API and allow a direct integration to be built properly instead of having to hack one together they’d make a killing. Honestly I won’t be purchasing anything from them anymore until they do so. There are just too many other options out there that do integrate well.

Josh, I feel ya bud. It’s a pain to do. But

[2021-01-08 08:02] oudoulj commented on #73
Yep, same as above.
I scratched my head a while desperately looking for a bulb device to add to my automation before I dug up that thread.
I think it would be worth adding this "Call service" example to the readme :wink:
Thank you again for the handy integration !

[2021-01-14 22:10] Lukejb14 opened #107 "[Feature Request] Wyze Vacuum"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Wyze Vacuum support for Vacuum integration in Home Assistant

**Describe alternatives you've considered**

Xiaomi Mi robot vacuum 2

**Additional context**

Wyze Vacuum is virtually the same as Xiaomi Mi robot vacuum 2

[2021-01-16 04:12] LucasPMagno commented on #107
I received my Wyze Vacuum recently and intercepted the API calls from the app. It seems like it uses two APIs, `api.wyzecam.com` and `wyze-venus-service.wyzecam.com`. As far as I can tell, you need to send two API calls whenever starting, pausing, or stopping cleaning. The one sent to `api.wyzecam.com` updates the app, the one to `wyze-venus-service.wyzecam.com` sends the command to the robot. If

[2021-01-16 15:35] tggman commented on #107
What tool/how did you intercept the API calls from the app?

[2021-01-16 15:50] LucasPMagno commented on #107
I used mitmproxy to intercept the requests. I had to also install the certificate as a system certificate because apps on android don't use user certificates, so I rooted BlueStacks. For redirecting requests to the proxy, the simplest way I found was to use ProxyCap.

[2021-01-19 18:15] JoshuaMulliken commented on #73
@oliverkurth @oudoulj I will type something up in the readme!

[2021-01-19 18:21] JoshuaMulliken commented on #73
I have added a section to the readme in this commit: https://github.com/JoshuaMulliken/ha-wyzeapi/commit/db71d27baab72d622fd97701fb4482f98624cdba

[2021-01-19 23:56] jscherry opened #108 "Motion and contact delay"
**Is your feature request related to a problem? Please describe.**
I just switched over from using another integration where you plug the wyze hub into your vm machine etc. This integration is rock solid stable compared to the one I was using but there is a delay on the motion and contact sensors that’s quite noticeable. I have one lock, six motions, and eight contact sensors running. Is there any

[2021-01-20 20:39] shauntarves commented on #107
@LucasPMagno excellent sleuthing, but getting this to work will not be a simple task. I happened to be in the middle of doing the same kind of reverse engineering after getting my robot vacuum.

The `Signature2` field that is used in the request headers is dynamically generated via the native app, but after tracing the whole call chain down in their android app, I found that it's not simple Java-c

[2021-01-26 03:48] JoshuaMulliken commented on #107
Crap, well, it looks like it uses a completely different control mechanism as much of the other devices. The annoying thing about Wyze is that they don't implement their own services and APIs to control the devices. They add the SDK for the device into their app and install its service on the other end.

This means that there is a brand new API and endpoint for each new device, which complicates t

[2021-01-26 03:52] JoshuaMulliken commented on #108
Hey @jscherry, the delay is partially caused by the reporting from the apps API. Unfortunately, this API itself is slow, and that compounds the problem that we have here.

I have set the integration to poll the service every 5 seconds, but this still does not give great results. Unfortunately, there is nothing we can do at the moment.

[2021-01-26 03:52] #108 closed

[2021-01-26 04:18] jscherry commented on #108
Thanks

[2021-02-01 21:08] dvanderb opened #110 "[Feature Request] Outdoor Plug Support"
Wyze recently released outdoor plugs and they are just switches on the platform.  Adding support is as easy as adding an or to the device list call to alias "Plug" and "OutdoorPlug".

[2021-02-04 04:42] JoshuaMulliken commented on #110
Yay finally an easy one to add! I have a pull request open to add this

[2021-02-07 04:18] #110 closed

[2021-02-07 04:21] JoshuaMulliken commented on #110
Everyone, please install https://github.com/JoshuaMulliken/ha-wyzeapi/releases/tag/v0.5.14-beta.1 and let me know if it works so that I can make an official release for everyone.

[2021-02-15 18:52] bulldog65 opened #112 "Error adding Add-On"
expected a URL @ data['addons_repositories'][1]. Got ' https://github.com/JoshuaMulliken/ha-wyzeapi'

[2021-02-16 20:01] shauntarves commented on #107
@JoshuaMulliken followed up with email about helping on this.

[2021-02-16 20:06] JoshuaMulliken commented on #112
I am sorry but what is the context behind this? Have you followed the instructions in the readme?

[2021-02-16 20:25] bulldog65 commented on #112
That is the error I got when following the Highly Recommended Approach.
Supervisor -> Add-on Store -> Repositories -> Manage add-on repositories ->
copy/paste url from step 2.
I just now tried the Manual Installation and the following is from the logs
after restarting HA,

21-02-16 20:11:12 INFO (MainThread) [supervisor.store.git] Cloning
add-on https://github.com/JoshuaMulliken/ha-wyzeapi reposit

[2021-02-16 20:58] whycali opened #113 "[Feature Request] Door Bell"
**Is your feature request related to a problem? Please describe.**

No issue other than would like to view on HA
**Describe the solution you'd like**

When door bell is pushed it will show up on HA
**Describe alternatives you've considered**

**Additional context**

[2021-02-17 18:12] JoshuaMulliken commented on #112
This is not a supervisor add on. Please see this issue: https://github.com/JoshuaMulliken/ha-wyzeapi/issues/89

[2021-02-17 18:12] #112 closed

[2021-02-17 18:17] JoshuaMulliken commented on #113
As far as I know, there is no way to tie into the notification system. This will require additional examination, however, so I will leave this issue open.

[2021-02-18 15:21] TEfjLONjDON opened #115 "unable to setup binary_sensor platform"
This has been happening now for about a month. Not sure what the issue might be.

First Error Message.

[code]
Second Error Message

[code]

[2021-02-18 20:45] trevorbenyack commented on #107
Just a heads up to the commenters here who seem to have a better grip on the software mechanics of all this, you can root the Wyze vac pretty easily. I was hoping to install Valetudo on it to get away from the Wyze app and use it in home sssistant, but it doesn't look like it used miio (at least that I could tell), so as of right now i don't think it's possible. -- I was actually in the process of

[2021-02-18 20:59] LucasPMagno commented on #107
I saw your Reddit post just now. Hopefully, the event.txt file I sent earlier gives you the information you need to get the robot running locally. On the map data, I have no idea how it is encoded. I tried decoding it in a couple of ways but all I got back was garbled data. Not sure if the roborock uses the same encoding and Valetudo has already figured out how to decode it.

[2021-02-18 21:02] trevorbenyack commented on #107
I just posted a link to your log in Valetudo's telegram chat so we'll see if anyone bites.

[2021-02-18 22:10] shauntarves commented on #107
For what it's worth, I'm just about done with the vacuum SDK. It's been a
real bear trying to reverse engineer what they're doing, but I have most of
the guts working.

With respect to the map info, I can get it from the API, but I can't tell
how it's represented/haven't looked at the data much.

I'll be posting a project in the next few days, and you guys can bang on it
a bit to see if it will do

[2021-02-18 22:52] JoshuaMulliken commented on #107
@shauntarves thanks again for picking up the mantle to work on this!

[2021-02-19 02:21] bubbaiOS commented on #107
Thank you @shauntarves! Can't wait to not have to be my my phone to arm this thing.

[2021-02-19 06:39] trevorbenyack commented on #107
Will this be working in conjunction with the app or side stepping it?

[2021-02-22 23:11] JoshuaMulliken opened #116 "[Bug] Test issue"
**Describe the bug**

asdfhalksdj
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**System configuration**
System:
HA Version:
WyzeApi Version:

**configuration.yaml**

[code]

**home-assistant.log**

[code]

[2021-02-23 15:41] shauntarves commented on #107
@trevorbenyack @bubbaiOS @LucasPMagno if you're interested in playing with the vacuum and/or smart plug features, please email me shaun <at> tarves <dot> net and I will get you access to the private repo

[2021-02-25 02:23] JoshuaMulliken commented on #115
@TEfjLONjDON are your sensors still working or does the error coincide with them no longer responding?

[2021-02-25 03:47] LucasPMagno opened #117 "[Bug] wyzeapi-vacuum causes homeassistant to not start."
**Describe the bug**
After installing the alpha integration, home assistant will no longer start

**To Reproduce**
Steps to reproduce the behavior:
install alpha version of the integration from HACS, I think you have to have a wyze vacuum connected to the account for the error to appear.

**Expected behavior**
Home assistant should start

**System configuration**
System: hassio with supervisor on

[2021-02-25 14:31] JoshuaMulliken commented on #117
@LucasPMagno thank you for the report! Would you be willing to join a Slack channel so we can iterate through tests more efficiently?

[2021-02-25 14:33] LucasPMagno commented on #117
Sure! Send me an invite.

[2021-03-01 09:26] beardedoffender commented on #117
Just got back home from a trip, updated everything and I believe I have run into this same issue. After the update, webui/app/etc are stuck at the loading data screen, however the backend actually loads.

The only real error in the logs is:
`Unable to serialize to JSON: Object of type VacuumSuction is not JSON serializable`

[2021-03-01 15:38] LucasPMagno commented on #117
In case you haven't figured out how to go back on a stable release, go in the docs folder, delete the wizeapi folder and reboot HA. then reinstall the plugin using the latest stable release and not any of the alpha versions.

[2021-03-02 16:35] TEfjLONjDON commented on #115
I sorry for the late reply, I could swear I checked back here several times. (Perhaps the page just never refreshed, My Sincerest Apologies).

I temporally solved this one, by just adding....
[code]
to my config like so.
[code]
However, Should I decide to use anything that relies on the sensors domain or "binary_sensors"; Then I will just simply have to live with the errors (after I remove the bef

[2021-03-02 16:45] TEfjLONjDON commented on #115
Probably Not Related, But...
I am also getting this error **See Below**, now after the last few updates regarding the vacuum(alpha).

[code]

I'm Not sure why hacs prompted me to install these builds. As I had only intended to install from the "master" branch. But I digress. I'm certain it prompted me about the update and I the responsible party; am the one who Clicked install.

[2021-03-04 15:15] shauntarves commented on #48
@LordNex @paulmorabito @dimmanramone @Mincka @lmontin @jfarmer08

I have been working with @JoshuaMulliken to reverse-engineer a generic wyze API. I've finally cracked what they're doing in their newer requests and how they hit their own API. We now have full support for the bulbs, plugs/switches, and the new vacuum. I would love to add support for more devices, but I need someone who has these de

[2021-03-04 15:16] shauntarves commented on #87
@JOHLC @LordNex @Lukejb14

I have been working with @JoshuaMulliken to reverse-engineer a generic wyze API. I've finally cracked what they're doing in their newer requests and how they hit their own API. We now have full support for the bulbs, plugs/switches, and the new vacuum. I would love to add support for more devices, but I need someone who has these devices to be willing to work with me dir

[2021-03-04 15:16] shauntarves commented on #93
@flostingapplesauce @ikrowni

I have been working with @JoshuaMulliken to reverse-engineer a generic wyze API. I've finally cracked what they're doing in their newer requests and how they hit their own API. We now have full support for the bulbs, plugs/switches, and the new vacuum. I would love to add support for more devices, but I need someone who has these devices to be willing to work with me

[2021-03-04 15:16] shauntarves commented on #113
@whycali

I have been working with @JoshuaMulliken to reverse-engineer a generic wyze API. I've finally cracked what they're doing in their newer requests and how they hit their own API. We now have full support for the bulbs, plugs/switches, and the new vacuum. I would love to add support for more devices, but I need someone who has these devices to be willing to work with me directly and share s

[2021-03-04 15:28] jfarmer08 commented on #48
@shauntarves I am willing to share what i have with no issues. Below is a list of what i have, but I think you have covered it all.

 1. Wyze Pan
 2. Wyze V2
 3. Bulbs
 4. Switch
 5. Scale
 6. Band

[2021-03-04 15:32] shauntarves commented on #48
@jfarmer08 that's awesome - hit me up direct at the email above please - when you do, I'll add you to our slack team

[2021-03-04 19:13] lmontin commented on #48
@shauntarves i have a couple of wyze cam v2s i can test.. I'm using HA on raspi with docker

[2021-03-04 19:23] jscherry commented on #48
I have v2, pancam, v3 cameras, scale, lock and would also be glad to help. Not familiar with snooping programs but learn quickly

[2021-03-05 13:59] shauntarves commented on #48
@jscherry and @lmontin - hit me up direct at the email above please - when you do, I'll add you to our slack team

[2021-03-05 14:47] paulmorabito commented on #48
I've got the Wyze Cam Pan and happy to also contribute. I'm in the middle of an international house move at the moment so likely won't have it in my hands again until middle April though.

[2021-03-12 19:21] esmoyer commented on #117
Nice to see this moving along, great work! Just tried to test the newest alpha; upon restarting HA, my TPLink and ZHA entities all went unavailable. Didn't seem to add my Vacuum nor any Wyze items. Could still work within HA, but if I did a complete browser refresh CTRL + F5, then it get the same "Loading Data". Removed the wyzeapi folder and restarted.

[2021-03-12 19:32] BoredMind commented on #117
I had the same issue.  When using this version or the latest alpha I am unable to get HA to even start up.

[2021-03-12 21:50] BoredMind commented on #117
Relaese v0.5.15-vacuum-alpha.9 worked, I was able to boot up, but now I get this error in my logs:

[code]

[2021-03-13 15:06] esmoyer commented on #117
Was able to get it to load and the entity for the vacuum shows up (just as vacuum.unameddevice unable to rename) but the commands seem to work; starting cleaning, stopping, returning home and suction power. No battery yet; the logs show it grabbing all the vacuums details; Name, IP, SSID, etc. Let me know anything particular that may help.

[2021-03-14 16:34] JoshuaMulliken commented on #117
This is actively being worked on. I will be working on getting statuses going next!

[2021-03-14 17:17] tekstein opened #119 "not logging into Wyze system and bulbs not showing up in HA"
**Describe the bug**

I recently install your repository on HA and integrate with HACS. I’ve loaded the line below with my WYZE info in the configuration.yaml. But I'm getting the error message you see below. please advise.

wyzeapi:
 username: <email for wyze>password: <password for wyze>

<img width="491" alt="Screen Shot 2021-03-13 at 4 54 38 PM" src="https://user-images.githubusercontent.com/3

[2021-03-15 15:45] esmoyer commented on #117
I figured as much; just wanted to give feedback as I as I wasn't 100% sure what *should* be there and what isn't. Let me know if you need any other testing/info! Looking great so far!

[2021-03-15 20:48] JoshuaMulliken commented on #119
@tekstein do you have two factor enabled on your account?

[2021-03-15 20:50] tekstein commented on #119
No, I don't.

[2021-03-15 20:57] JoshuaMulliken commented on #119
Have you verified that your password is correct?

If yes then please enable debug logging and provide an updated log as described here: https://github.com/JoshuaMulliken/ha-wyzeapi#reporting-an-issue

[2021-03-15 21:07] tekstein commented on #119
Sorry for my ￼ignorance I'm fairly new to HA. How do I do that?

[2021-03-15 21:12] JoshuaMulliken commented on #119
What step in particular are you struggling with?

[2021-03-15 21:58] tekstein commented on #119
I not familiar with the steps on how to do this

[2021-03-22 15:08] brianhanifin commented on #119
I get that error when running v0.5.15-vacuum-alpha.10, but v0.5.14 works and loads my plug as expected.

[2021-03-22 16:25] brianhanifin commented on #107
@shauntarves I took a look at the smartbridge repo you shared with me last month and realized I had no idea what to do with it!  :sweat_smile:

Last week I tinkered with the Rest API documented in the Wiki [using Insominia](https://insomnia.rest). I managed to setup Insomnia Environment variables to store and process my unique values.

Insomnia Export (secrets scrubbed): https://gist.github.com/br

[2021-03-22 19:48] jeffhoman opened #121 "[Bug] Devices not showing as expected"
I recently moved homes, purchased a new HA RPi Server and reinstalled from my last snapshot.  I can see a PIR sensor and one contact sensor and two plugs in my HA overview dashboard but I have several other new sensors and plugs that are not showing up.  The status of the seen devices change as expected so my login and password is functioning, it seems as though the device list refresh is not work

[2021-03-23 19:50] cuatexoft opened #122 "[Feature Request] Cameras notifications as Motion Sensors"
Could you add the camera motion notifications as motions sensors?

[2021-03-24 18:53] uzegonemad opened #123 "[Feature Request] Support Wyze Cam v3 Spotlight"
It would be neat to be able to control a Wyze Cam v3's spotlight within HA.

I don't have much free time to work on it myself at the moment, but I have a spare v3 with spotlight that I can share if someone wants to work on adding support.

I tried comparing device properties with the light off versus on but it didn't seem to change. Additionally, if you turn the spotlight on, and close & reopen th

[2021-03-26 20:42] ikrowni opened #124 "[Feature Request] wyze smart watch sensor integration"
Would like to pull the sensor data from the new wyze smart watch.

[2021-03-26 23:03] EliotHertenstein commented on #48
I would be happy to help, as long as there is no software flashing :)
My cameras:

- 5 outdoor
- 3 V3
- 3 V2
- 2 Pans

[2021-03-26 23:57] tcallaw opened #125 "[Bug] Deteched I/O inside the event loop"
I installed this repository via HACS today. It is not working and I am getting a warning saying:
Detected I/O inside the event loop. This is causing stability issues. Please report issue to the custom component author for wyzeapi doing I/O at custom_components/wyzeapi/smartbridge/providers/wyze/client.py, line 245: response = session.send(request, **settings)

Thanks in advance for your help

**To

[2021-03-28 18:20] JoshuaMulliken commented on #122
I do not know of a way to tie into the notifications right now unfortunately

[2021-03-31 13:46] npeskoe opened #126 "[Feature Request] Wyze Color Bulbs"
Wyze app is authenticating properly, but it is not finding bulb. Does this integration work with new color bulbs?

Logger: custom_components.wyzeapi
Source: custom_components/wyzeapi/__init__.py:80
Integration: Wyze Bulb and Switch Api Integration (documentation)
First occurred: 9:38:04 AM (1 occurrences)
Last logged: 9:38:04 AM

WyzeApi authenticated but could not find any devices.

-------------

[2021-03-31 13:57] JoshuaMulliken commented on #126
It doesn't work with color bulbs yet. Mine are arriving soon and I will be adding support at that point

[2021-03-31 14:01] JoshuaMulliken commented on #125
Yes, this is an issue with the alpha version. Please use the latest stable. It is an issue with using some sync code inside of the async event loop.

[2021-03-31 14:26] JoshuaMulliken commented on #119
@tekstein  please use the latest standard version and report back on the results

[2021-03-31 14:27] JoshuaMulliken commented on #115
This is from an alpha build. Can you install the latest stable and see what happens? I know there are some major issues with the v1 sensors that have caused some issues with this integration

[2021-03-31 18:18] ItsRhen commented on #126
I second! 🙂 Just got mine and this would be great. Thanks a lot.

[2021-03-31 19:17] tcallaw commented on #125
Awesome...thanks. Can you confirm which is the stable version, is it
"Master"

This is what I see when I go to install

[image: Screen Shot 2021-03-31 at 12.15.44 PM.png]

On Wed, Mar 31, 2021 at 7:01 AM Joshua Mulliken ***@***.***>
wrote:

[2021-04-01 01:14] jscherry commented on #126
Mine will arrive soon. Looking forward to getting color bulbs working. Thanks for writing this code guys

[2021-04-01 01:15] jscherry commented on #126
There’s a remote control car coming out tomorrow that works with a v2 camera connection

[2021-04-01 15:24] SerpentDrago commented on #126
you should check the date .......

[2021-04-02 19:00] JoshuaMulliken commented on #126
There is a new beta out with support for the color bulbs. Please read the changelog before installing in case it breaks one of your use cases.

Please report any issues you find with the color bulb support

[2021-04-02 23:58] jscherry commented on #126
Will the api for the color bulbs work with sensors and locks again soon? Just got my bulbs and would be glad to help any way I can. I'm a newb as far as burp goes but learn fast.

[2021-04-03 01:30] JoshuaMulliken commented on #126
@jscherry I do not think that I will be bringing locks or sensors back. Sensors are losing support from wyze fast some information on this reasoning can be found [here](https://github.com/kevinvincent/ha-wyzesense). For the locks, I don't have them and the only functionality currently is the binary sensor, too much effort to continue to maintain.

[2021-04-03 17:07] Mattie commented on #126
It did seem to work with the first color bulb I tried. The problem I had is just having a Wyze watch in the account seemed to break it such that I didn't get a working light? Maybe I just wasn't seeing it. But I removed my watch and now I see one of my bulbs for sure.

[code]

Though as I removed that from my Wyze account (don't use it much), my first bulb appeared just fine. Time to add more of t

[2021-04-03 17:49] pman07 opened #127 "[Bug] Version Key for future HA Support"
No 'version' key in the manifest file for custom integration 'wyzeapi'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'wyzeapi'.

[2021-04-03 18:39] aasquith94 commented on #126
With the new update the colors bulbs do not show but also my normal bulbs no longer show as well.

[2021-04-03 18:40] aasquith94 commented on #126
Error while setting up wyzeapi platform for light
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 200, in _async_setup_platform
    await asyncio.shield(task)
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/config/custom_components/wyzeapi/light

[2021-04-03 19:20] JoshuaMulliken commented on #127
Version key is coming in the next major release

[2021-04-04 00:13] JoshuaMulliken commented on #126
Hey @aasquith94 can you update to the latest beta and let me know if it is working?

[2021-04-04 00:20] aasquith94 commented on #126
Same issue. Latest being Beta.4 correct? heres the logs incase theyre slightly different:

Logger: homeassistant.components.light
Source: custom_components/wyzeapi/light.py:48
Integration: Light (documentation, issues)
First occurred: 7:16:20 PM (1 occurrences)
Last logged: 7:16:20 PM

Error while setting up wyzeapi platform for light
Traceback (most recent call last):
  File "/usr/src/homeassista

[2021-04-04 03:39] JoshuaMulliken commented on #126
Ok. Can you try beta.5?

[2021-04-04 15:37] WBETHERI commented on #126
Mine will also not start -- looks like having the Wyze Scale on my account is bricking the DeviceTypes() check from wyzeapy.
I'd try and do a PR (just for an error handling stub so it doesn't brick-- I know there's a separate issue for scale support) but that repo's not public! Haha.

My trace:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform

[2021-04-05 03:09] JoshuaMulliken commented on #126
Awesome. I have added WyzeScale!

New beta is available. I know that this is a painful process, but it is helping me build an understanding of all the different devices that exist in the ecosystem.

[2021-04-05 03:26] #121 closed

[2021-04-05 03:27] JoshuaMulliken commented on #115
@TEfjLONjDON I am closing this due to inactivity. Please feel free to reopen if this is still an issue

[2021-04-05 03:27] #115 closed

[2021-04-05 03:28] JoshuaMulliken commented on #104
@mattbilodeau Can you try the latest beta build and let me know if this is working like you expect it to?

[2021-04-05 03:29] #117 closed

[2021-04-05 03:30] JoshuaMulliken commented on #119
Closing due to inactivitly

[2021-04-05 03:30] #119 closed

[2021-04-05 07:15] aasquith94 commented on #126
Beta 5 worked for me, thanks so much. ill update to beta 6 and test as well

[2021-04-05 12:14] WBETHERI commented on #126
Beta 6 and the color bulbs work now (not getting hung up on WyzeScale).

[2021-04-05 13:31] JoshuaMulliken commented on #126
That is great! @aasquith94 @WBETHERI

Thank you for your help with testing!

[2021-04-05 19:52] rickscherer opened #128 "[Feature Request] Wyze Sprinkler"
**Describe the solution you'd like**
Wyze Sprinkler integration
Would be nice to view zones, turn-on/turn-off.

[2021-04-05 23:54] mattbilodeau commented on #104
I upgraded via HACS to the newest 4.2-beta.6, and the color temp and brightness now save, and restore at the same level,  Thank You!

[2021-04-06 01:15] JoshuaMulliken commented on #104
@mattbilodeau Awesome!! Thanks for the feedback

[2021-04-06 01:33] JoshuaMulliken commented on #123
@uzegonemad I was not aware that the v3 had a spotlight toggle. Can you describe the process in the app that it takes to turn this on?

[2021-04-06 02:00] JoshuaMulliken commented on #48
I do not plan on adding this as a feature. It would require intensive reverse engineering of the application and I do not have the time or skills to do that effectively.

Closing this issue and marking as wontfix

[2021-04-06 02:00] #48 closed

[2021-04-06 03:43] amitvaria commented on #126
In my testing, I am having issues getting automation working. The scene is created, the lights brightness is set, but after 4s the scene doesn't get called again. I also have Lutron switches in the house and if use thos entities, things work as expected.

[code]

[2021-04-06 04:04] drguitarum2005 commented on #126
Beta 7 still having issues. What is the "common" device type? I have cameras, headphones, and color bulbs on my Wyze account.

**`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 200, in _async_setup_platform
    await asyncio.shield(task)
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = se

[2021-04-06 04:36] amitvaria commented on #126
When I turn on debugging, I see that activating the scene is trying to set both brightness and hs_color:
[code]
I think my issue comes from [this](https://github.com/JoshuaMulliken/ha-wyzeapi/blob/color_bulbs_support/custom_components/wyzeapi/light.py#L109). Preference is given to brightness and color is skipped.

[2021-04-06 14:22] JoshuaMulliken commented on #126
Ok, fixes for both of those issues is in beta 8.1.

Please let me know if it is working now. I working to get this release pulled into master as a new stable release.

[2021-04-06 14:31] amitvaria commented on #126
Tested my issue and it's resolved. Thanks!

[2021-04-06 14:40] JoshuaMulliken commented on #126
Great!

[2021-04-06 15:32] drguitarum2005 commented on #126
My issue about 'common' is resolved and I have my 4 bulbs loaded in.

Another small bug: in Wyze app, you can group 2+ bulbs together and they all change colors together. I have 2 of mine paired that way. Through HA, neither one will change colors until I move the slider on BOTH entities.

[2021-04-06 18:24] etchings13 commented on #126
I am also getting an error trying to set these up:

Error while setting up wyzeapi platform for light
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 200, in _async_setup_platform
    await asyncio.shield(task)
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwa

[2021-04-06 18:27] amitvaria commented on #126
I'm not sure I understand exactly the issue you're seeing, but I manually created similar light_groups in HA like this:
[code]

[2021-04-06 18:29] mullethunter324 commented on #126
Getting the following errors. I have removed my Wyze app bulb grouping to reduce complexity.

Switch:
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 200, in _async_setup_platform
    await asyncio.shield(task)
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwa

[2021-04-06 18:32] drguitarum2005 commented on #126
Thats not a bad way to do it. I'll revert to that if I need to. The issue comes up if you do the grouping within the Wyze app, the grouping doesn't automatically load into HA so you try to adjust one light in HA but nothing responds until you've adjusted all the lights in that group in HA to the same settings.

[2021-04-06 18:39] aasquith94 commented on #126
My main issue is in scenes. If i select a color temp for the bulb for a normal non color light and run the scene it sets the bulb to the last selected color. so if the circle has purple selected for example, and in the scene i move the color temp slider to warm white and hit save its saving as purple.

[2021-04-06 22:11] JoshuaMulliken commented on #126
Working on adding "JA_RO2" as a recognized device

[2021-04-06 22:33] JoshuaMulliken commented on #126
@mullethunter324 can you test the latest beta.9?

[2021-04-06 22:40] mullethunter324 commented on #126
Looking good for me now. Switch and bulbs came in. No errors. Going to test with wyze app bulb grouping later.

[2021-04-06 22:42] etchings13 commented on #126
beta.9 seems to have fixed the issue for me!

[2021-04-07 04:09] drguitarum2005 commented on #126
If I accidentally do a couple of rapid state changes (off and on), the switch and icon get out of sync and it’ll update after maybe 15 seconds (HA says light is off but it’s really on). Does that have anything to do with this integration?

[2021-04-07 13:23] JoshuaMulliken commented on #126
The Wyze service does not reflect the valid state of the device immediately. It takes about 15 seconds for it to be correct.

[2021-04-07 19:43] uzegonemad commented on #123
@JoshuaMulliken Sure, see the attached screenshots. When you're viewing a specific camera, there's a toggle next to the "Live Stream" header. Tapping it toggles the spotlight.

The curious part is that if you manually toggle on the spotlight, it turns itself off shortly after you stop viewing the live feed, leading me to wonder if it's somehow toggled via TUTK P2P and not via the Wyze API.

I have

[2021-04-07 22:03] tggman commented on #126
Just added two color bulbs via the Wyze app, updated HAC to 2021.4 and switched to HA-WyzeAPI to 2021.4-beta.10.1.

Unfortunately WyzeAPI to 2021.4-beta.10.1 is not working for me.  From the error log:

Logger: homeassistant.components.light
Source: custom_components/wyzeapi/light.py:48
Integration: Light (documentation, issues)
First occurred: 4:44:48 PM (1 occurrences)
Last logged: 4:44:48 PM

E

[2021-04-08 03:30] JoshuaMulliken commented on #123
Hmm, I do not see that option on my v3... Could it be the wireless outdoor cam instead?

[2021-04-08 03:36] #104 closed

[2021-04-08 03:36] #126 closed

[2021-04-08 03:36] #127 closed

[2021-04-08 13:31] GoState opened #134 "Sensor support"
Please put sensor support back in (leave it un maintained if you like) but many of us still have working sensors and this just makes them useless...its almost as bad as when a company kills a product ;). Appreciate all your hard work on this and I get that this will become obsolete at some point but there a bunch of sensors still working and are in several automations I use everyday.  Maybe just m

[2021-04-08 13:50] uzegonemad commented on #123
No, it's a v3 with the [spotlight](https://wyze.com/wyze-cam-v3-spotlight.html) accessory.

[2021-04-08 14:07] JoshuaMulliken commented on #134
Feel free to use the previous release until you can retire them from your setup

[2021-04-08 14:07] #134 closed

[2021-04-08 14:15] JoshuaMulliken commented on #123
Ahh, I did not know that was a thing haha. I do not have that device but if you want to help me cover the costs I can investigate this feature.

To identify if this is possible we need to review the HTTP requests between the app and the service and see if there is one that will toggle the spotlight. My suspicion is that there is a request sent when you open the live stream and another one when you

[2021-04-08 16:05] uzegonemad commented on #123
@JoshuaMulliken I'll send you one. I'll shoot you an email for your mailing address.

[2021-04-08 17:22] JoshuaMulliken commented on #123
Great!

[2021-04-08 17:55] abhinav91690 opened #135 "[Feature Request] Wyze Lock"
It would be great to have Wyze lock integrated completely.
1.  Lock/Unlock.
2.  Door Open/Closed.
3.  Remotely locked/unlocked or Manually locked/unlocked.

[2021-04-08 18:21] LordNex commented on #135
Agreed if someone wants to send him one to code with. I’d donate a bit.

Benjamin Powers

On Apr 8, 2021, at 12:56 PM, Abhinav Vinnakota ***@***.***> wrote:

﻿

It would be great to have Wyze lock integrated completely.

  1.  Lock/Unlock.
  2.  Door Open/Closed.
  3.  Remotely locked/unlocked or Manually locked/unlocked.

—
You are receiving this because you are subscribed to this thread.
Reply t

[2021-04-08 22:18] JoshuaMulliken commented on #135
From my review of their documentation on [this page](https://wyze.com/wyze-lock) (particularly in the FAQs) it should be possible. Since you can open it remotely, there must be functionality in the app to do a request over the internet to the Wyze servers that will let you in. It is just a bit to pricey for me to investigate without the guarantee that I could get it to work.

[2021-04-09 00:07] terrycarlin commented on #135
I will also donate to a Lock project. I would like to have at least the Lock and Door sensors implemented. I can also test the lock.

[2021-04-09 01:38] seorasray opened #136 "New DeviceTypes"
Home Assistant OS 5.13
core: 2021.4.0
ha-wyzeapi: 2021.4.7

I had a couple of errors about some of my non-supproted Wyze devices, namely the "Thermostat" and what looks to be a different version of "GateWay"?

Error:
`2021-04-09 01:09:39 ERROR (MainThread) [homeassistant.components.light] Error while setting up wyzeapi platform for light
Traceback (most recent call last):
  File "/usr/src/homeassi

[2021-04-09 13:47] JoshuaMulliken commented on #136
Thanks for the kind words @seorasray I will look get these devices included and put some logic that will prevent an exception.

[2021-04-09 19:39] p1ironman commented on #136
@seorasray where did you add THERMOSTAT = "Thermostat" GATEWAY2 = "GateWay" exactly. After doing the update to the latest version, i have lost my ability to controll my lights and plugs.

[2021-04-09 20:28] #136 closed

[2021-04-10 13:49] JoshuaMulliken commented on #135
@terrycarlin @LordNex @abhinav91690

Should I create a Lock post on BuyMeACoffee? Like I did for the Color Bulbs?

I can say all donations for the next X weeks go toward a lock.

[2021-04-10 14:54] LordNex commented on #135
Just so you know. I can get it to work over ZHA. Just can’t get HA to keep in sync with Wyze servers. So if someone uses the app or the remote keypad to get in, HA doesn’t know. Been playing with some templates but if we can donate to get Josh a lock to reverse engineer I think we’ll get a much better result. Only thing I use besides the lock is there cameras. But the next hardware cycle I’m not g

[2021-04-10 16:46] JoshuaMulliken commented on #122
@cuatexoft I have implemented a feature where cameras can be used as motion sensors!!

Please help me test this feature by using version 2020.4.10-beta.1

[2021-04-10 18:45] terrycarlin commented on #135
Works for me. Let me know when you have it set up. Will send some money towards the lock.

[2021-04-10 21:45] LordNex commented on #135
Ditto. Never used the service yet to setup an account but let me know when it’s ready and I’ll drop some funds in as well.

Ben

On Apr 10, 2021, at 1:46 PM, Terry Carlin ***@***.***> wrote:

﻿

Works for me. Let me know when you have it set up. Will send some money towards the lock.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://githu

[2021-04-10 22:32] #122 closed

[2021-04-11 04:41] terrycarlin opened #139 "Wyze Outdoor Plug doesn't update state on to off until after about 6 seconds after turning the plug off."
When turning off the plug via Lovelace, the plug turns off immediately but it takes about 6 seconds +- to update the state to off. Can't turn the plug back on until the state has been updated.

Can duplicate by adding a Outdoor Plug to a card in Lovelace. Click on the name of the Plug to get the "more information" popup.
Notice the state entry towards the lower right of the popup. Make sure the Pl

[2021-04-11 15:40] JoshuaMulliken commented on #139
My outdoor plug is not in yet. Will check on this once it arrives

[2021-04-11 15:42] terrycarlin commented on #139
I can give you access to the plug if you want. It’s not controlling anything too important at this time. I gave Shaun access already.

[2021-04-13 14:32] uzegonemad commented on #113
I'll be receiving a doorbell in a few days. I'm curious if it publishes button presses to the get_event_list endpoint, and if that's the case maybe we can implement something similar to #138

[2021-04-13 15:23] JoshuaMulliken commented on #113
I have a doorbell. I can see if it does anything special.

[2021-04-13 17:53] joshnewman17 opened #140 "[Feature Request] Support Wyze Alarm/2nd gen sensors"
Are there plans to support the new sensors and alarm? I just received mine in the mail and would be happy to assist in any way that I can.

[2021-04-13 21:03] JoshuaMulliken commented on #135
I created a goal for this on my BuyMeACoffee! https://www.buymeacoffee.com/joshmulliken

[2021-04-13 21:11] JoshuaMulliken commented on #139
My plug should be coming in soon and I will see if I can get this going. Won't have coding time until later this week

[2021-04-14 15:54] dinan5 commented on #139
Same issue exists with indoor plug.  I'm finding the delay to be longer than 6 seconds, maybe a minute or so.  Thanks.

[2021-04-14 15:56] esmoyer commented on #107
Curious if anything was changing with this? I just realized since the most recent HA update, it appears something broke. I'll see what I can find.

[2021-04-14 16:08] JoshuaMulliken commented on #139
Did this happen before the update to add cameras as motion sensors?

[2021-04-14 16:15] dinan5 commented on #139
Hi, I just installed the latest update and it began.  Before the change it was working perfectly.  Thanks for the quick response.

[2021-04-14 16:31] JoshuaMulliken commented on #139
Ok, I believe that I have fixed it. Please try 2021.4.14.1

[2021-04-14 16:31] #139 closed

[2021-04-14 16:44] dinan5 commented on #139
My apologies but I forget how to manually pull the build.

[2021-04-14 18:00] dinan5 commented on #139
I was able to now pick up the build via HACS and its fixed.  I'm happy to be a tester if it would be helpful.  I have plugs, bulbs, and cameras.  Thank you again, great work.

[2021-04-14 19:18] terrycarlin commented on #139
This fixed my delayed status update issue. Thanks!

[2021-04-16 13:43] JoshuaMulliken commented on #135
I ordered the device yesterday!

[2021-04-16 15:10] cmschube opened #141 "No devices"
Hello - have an issue where I only have one Entity in HA, but multiple on my phone.. Nothing obvious in any of the log files.

---
Logger: homeassistant.components.binary_sensor
Source: helpers/entity_platform.py:497
Integration: Binary sensor (documentation, issues)
First occurred: April 15, 2021, 7:55:21 PM (1 occurrences)
Last logged: April 15, 2021, 7:55:21 PM

Platform wyzeapi does not genera

[2021-04-16 20:09] LordNex commented on #135
Sent my donation. Wasn’t a whole lot but should help. Thanks a bunch!

Also, I have one that was somewhat DOA that they let me keep. If you want to tear inter the internals, I can send you that so you don’t tear up your good one.

https://www.buymeacoffee.com/joshmulliken

On Apr 16, 2021, at 8:44 AM, Joshua Mulliken ***@***.***> wrote:

﻿

I ordered the device yesterday!

—
You are receiving this

[2021-04-17 01:40] shreram commented on #141
Support for sensors was removed. https://github.com/JoshuaMulliken/ha-wyzeapi/discussions/133

[2021-04-17 03:18] JoshuaMulliken commented on #141
Only cameras can be used as motion sensors.

[2021-04-17 03:18] #141 closed

[2021-04-17 03:18] JoshuaMulliken commented on #135
Thanks all any amount helps

[2021-04-19 04:25] seorasray opened #142 "[Feature Request] Support Colour Bulb Groups"
Do you think it is technically possible to support Bulb Groups at all? I have 7 bulbs in one room and in the Wyze App I can trigger the Bulb Group to turn on and off and they react almost as well as my Hue bulbs. With Home Assistant calling each bulb individually it can take around 5 seconds or so before they all react which is less than ideal.

I do have a workaround for simple on/off functionali

[2021-04-19 04:48] LucasPMagno commented on #142
Have you tried creating a group in home assistant or are you switching the 7 bulbs individually?

[2021-04-19 13:06] seorasray commented on #142
I've got them in an HA Light Group right now and have tried using the group, individual bulb entities or area selections but they all change individually one by one. I'm pretty sure it is just due to the "api calls" being iterated in serial as opposed to being able to call a different Wyze Bulb Group endpoint. A workaround might be to use concurrent calls but not sure how HA events are structured

[2021-04-19 18:45] LucasPMagno commented on #142
I have bulb groups of 3 bulbs (not the color bulb though) and they all turn off and on within a fraction of a second.

The way I've done to intercept api calls is to root android in BlueStacks so that I can use a cert from mitm proxy in place of the system proxy.

[2021-04-19 22:24] KevinVoell commented on #135
Hi @JoshuaMulliken,
I am working on reverse engineering the Wyze API as well for a project I'm working on and happened to stumble upon this repo today.  I'm not an expert in Python, I can help you with the request and response for the lock/unlock rest calls.

API Endpoint:
POST https://yd-saas-toc.wyzecam.com/openapi/lock/v1/control

Request:
[code]

Response:
[code]

The most complicated part of

[2021-04-19 22:33] KevinVoell commented on #39
@JoshuaMulliken
I have the functionality to refresh the access token using the refresh token as well as a having 2FA working on my project.  Is there something I can help with on this?  I only know enough python to be dangerous, I'm a C++/C# guy, but maybe I can help.

[2021-04-20 03:06] seorasray commented on #142
I wish I had seen your comment before I decided to have a go and intercepting the API calls myself.. I ended up with the same solution, Bluestacks, supersu and mitmproxy.

Annoyingly enough when I looked at what was happening when I clicked on the Bulb Group I didn't see a special API, just a list of lights to enable. Shown in attached screenshot.

For a room that has 3 of the same Wyze colour bul

[2021-04-20 03:21] LucasPMagno commented on #142
I was on a previous version of this component, and I could spam-click the button for one of my lights and it would respond just the same as it would if I spam-clicked the button on the Wyze app. I just upgraded to the newest version and if I try to do that the light switches state on the first click and every 5-15 seconds. My group of 3 lights also doesn't turn on/off near instantaneously anymore,

[2021-04-20 18:21] eIiot opened #143 "[Feature Request] Take a Photo?"
I understand that you're not able to integrate RSTP into this integration, but the Wyze app does have a feature to take a photo, which saves it locally. Would it be possible to create a switch for cameras that takes a photo, and saves it to homeassistant? This would really help with home security, for people like me who use HA as a security system, but Wyze as security cameras.

LMK what you think

[2021-04-21 06:03] eIiot opened #144 "[Feature Request] V3 Siren"
Would it be possible to add a toggle for the V3's Siren? There's a switch in the settings of each camera. It would be an easier way to control it than tasker :)

[2021-04-22 18:37] terrycarlin opened #145 "[Feature Request] Would like to have attributes like RSSI, IP, etc added to devices when available"
Having this information available makes it easier to track down WiFi coverage issues.

[2021-04-23 02:24] JoshuaMulliken commented on #135
@KevinVoell Thank you for the contribution. That is very useful!

[2021-04-23 02:28] JoshuaMulliken commented on #142
@LucasPMagno in the earlier version of the software I was using some complicated async code with retries and everything flowing through a request manager component. To speed up development I stripped this out.

I know that it is not quite as fast, but it works better for my development, so that is what I am utilizing now.

[2021-04-23 02:45] LucasPMagno commented on #142
Ah, alright. That sounds like a nightmare to develop with. Btw, thanks for all your work on this.

[2021-04-23 20:44] #142 closed

[2021-04-23 20:45] JoshuaMulliken commented on #135
Lock is getting a lot closer! I have some test code working that does the signing correctly!

[2021-04-27 23:31] JoshuaMulliken commented on #135
Hey all, please check out 2021.4.27-beta.1 and see if it is working for your instance!

[2021-04-29 02:34] #135 closed

[2021-04-29 03:43] jscherry opened #148 "New V2 sensors"
I'm still running an older version that still works with the sensors. I just set up the new home monitoring system and all the new V2 sensors are working perfectly in home assistant. Door contacts and motions. Maybe you shouldn't completely trash the idea of keeping sensors in your api version. All the old sensors and newer sensors are working. This is awesome. The alarm keypad and new sensor hub

[2021-04-29 03:45] jscherry commented on #140
The V2 sensors work with the older version of the api. I just set up the home monitoring and rebooted home assistant and all the sensors are visible and working

[2021-04-29 09:07] frighteningkoala commented on #140
@jscherry can you confirm that the motion and door sensors actually trigger as expected?

[2021-04-29 11:32] w1tw0lf opened #149 "Invalid authentication"
Had issues with the integration. Found that I still had the login details in configuration.yaml. Removed from the intergration as well as from hacs, as well as details in configuration.yaml. Rebooted and followed process of adding as new integration. Now keep getting, Invalid authentication. I have tested both the wyze app and website that works. Reset with new password and still the same.

Hassio

[2021-04-29 13:02] jscherry commented on #140
Sorry may have jumped the gun. They show all attributes but don't trigger. I'm still running version 5.14. All the V1 sensors still work properly.

[2021-04-29 13:13] JoshuaMulliken commented on #148
Duplicate of https://github.com/JoshuaMulliken/ha-wyzeapi/issues/140

[2021-04-29 13:13] #148 closed

[2021-04-29 14:53] JoshuaMulliken commented on #149
Please be sure that you are not using a VPN I have noticed this issue where CloudFront from Amazon blocks requests that are coming from a VPN.

[2021-04-29 15:00] JoshuaMulliken commented on #149
I am unable to replicate this issue on my instance

[2021-04-29 15:03] w1tw0lf commented on #149
Nothing on my side changed. Only updated the integration and starting to get this error.

Looked at all logs and nothing is being blocked on my firewall.

[2021-04-29 15:05] JoshuaMulliken commented on #149
Please enable the debug logging and provide your home assistant log. There might be something in there. If you downgrade does it start working again?

[2021-04-29 15:36] w1tw0lf commented on #149
Tried the downgrade also no luck.

Busy reinstalling as wyzeapi doesn't show in logs even with the debug enabled.

[2021-04-29 15:53] abhinav91690 commented on #140
+1. V2 sensors show up but dont change values in 5.14.

[2021-04-29 16:13] abhinav91690 commented on #140
Log messages when using Home monitoring system in 2021.4.28

[code]

[2021-04-29 16:17] w1tw0lf commented on #149
Currently out of town and trying to fix via rdp to pc at home. Will be back on Saturday and continue the troubleshooting. Only have one wyze bulb connected.

[2021-04-29 16:58] LordNex commented on #149
Yea I’m having the same trouble. It’s pulling down a list of devices and the cameras are properly acting as motion sensors. But I’m getting the same error after doing the same troubleshooting. Let me know if you want me to try something else.

Benjamin Powers

On Apr 29, 2021, at 10:03 AM, w1tw0lf ***@***.***> wrote:

﻿

Nothing on my side changed. Only updated the integration and starting to get

[2021-04-29 18:32] JoshuaMulliken commented on #149
I will look into adding some additional logging to the app to help us track this issue down

[2021-04-29 18:33] JoshuaMulliken opened #150 "Log messages when using Home monitoring system in 2021.4.28"
Log messages when using Home monitoring system in 2021.4.28

[code]

_Originally posted by @abhinav91690 in https://github.com/JoshuaMulliken/ha-wyzeapi/issues/140#issuecomment-829374602_

[2021-04-30 00:14] JoshuaMulliken commented on #149
If everyone can try a full restart (like bring down the Hassio instance) it might be that the dependencies are not being updated correctly. I will still look into adding more logging in the next release.

[2021-04-30 03:08] w1tw0lf commented on #149
Checked and did try a reboot earlier... tried another one just now and for some odd reason it worked. Logged in without issues now.

Thank you. All solved for me.

[2021-05-01 08:47] rayos006 opened #151 "[Feature Request] Trash Mode on Door Lock"
First off love the addition of the door lock! Its been working great!

I have noticed that when you put the lock into trash mode the Door Lock in HA remains locked and no event is raised when the lock is locked again.

**To replicate:**
Put lock into Trash mode.
[Documentation](https://wyzelabs.zendesk.com/hc/en-us/articles/360042103092-Trash-Mode)

**Expected behavior:**
Lock shows unlocked while

[2021-05-03 11:48] LordNex commented on #149
Not here. Still same issues. All the cams come up as valid sensors and trigger normally. But the lock still just comes up "Unavailable". I'm running inside a VMWare host if that matters. I've talked the entire instance of HA down, but i haven't rebooted the ESXi Host itself yet. Although I shouldn't need too.

[2021-05-03 14:52] JoshuaMulliken opened #152 "[Bug] Lock shows Unavailable with all other devices being available"
Not here. Still same issues. All the cams come up as valid sensors and trigger normally. But the lock still just comes up "Unavailable". I'm running inside a VMWare host if that matters. I've talked the entire instance of HA down, but i haven't rebooted the ESXi Host itself yet. Although I shouldn't need too.

_Originally posted by @LordNex in https://github.com/JoshuaMulliken/ha-wyzeapi/issues/14

[2021-05-03 14:52] JoshuaMulliken commented on #149
It's weird that the lock is unavailable but the rest isn't. This appears to be a different issue than @w1tw0lf was having so I am closing this issue and opening a new one for your issue.

[2021-05-03 14:52] #149 closed

[2021-05-04 18:51] douglasmauro opened #154 "Error during setup of component wyzeapi"
Everything was working and then a simple reboot and this error keeps showing up.

Now switch and light are offline.

I logged in via wyze web page with same credentials, no problems.

I'm using config entry:

[code]

Logs

[code]

[2021-05-04 19:10] douglasmauro commented on #154
updated to latest code and she's all fixed :)

[2021-05-04 19:10] #154 closed

[2021-05-05 08:24] sspencer10 commented on #87
So it seems you have this figured out now, can you maybe make a PR to get the thermostat working in ha-wyzeapi?

[2021-05-05 12:32] shauntarves commented on #87
@sspencer10 I have spoken with Josh at length about integrating my work and he said he wants to go in a different direction and implement his own client, so I will not be doing this.

Feel free to submit your own PR if you want.

[2021-05-05 12:44] LordNex commented on #87
Just so you know, they work under standard ZHA until Josh can finish the API integration. If you need help, let me know. Super easy to setup and super helpful!

[2021-05-05 13:18] JoshuaMulliken commented on #123
@uzegonemad I am sorry, but I cannot find a control message for the spotlight that goes over HTTP. I suspect that it uses TUTK P2P to trigger.

I am sorry, but I cannot support TUTK P2P at the moment because all the SDKs that I found are for C. I was excited to get this working, but It is beyond my ability to integrate this currently.

Let me know if you want me to mail the spotlight to you for us

[2021-05-05 14:30] LordNex commented on #143
This would be great to help monitor the Outdoor Cams that can't do RTSP. I bought 1 before I realized that and currently is the only reason I open their crappy app.

[2021-05-05 17:14] JoshuaMulliken commented on #143
I have access to the events, so I might be able to pull the last event video URL. Is this something that could fulfil this requirement?

[2021-05-05 17:16] EliotHertenstein commented on #143
This would honestly be even better! I could probably conver that to a still frame, and use that in a notification :)

[2021-05-05 19:32] uzegonemad commented on #123
@JoshuaMulliken No problem! It's yours to keep. It's a small token of appreciation for all your hard work.

I'm spending a *lot* of time with TUTK SDK lately for another project. I'll do some more digging through the SDK as time allows.